.AvenueWhite_label.rnr-s-empty > .rnr-c
{
background:none;

}
.AvenueWhite_label.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.AvenueWhite_label.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.AvenueWhite_label.rnr-s-empty > :not(.runner-c) > *.style1,
.AvenueWhite_label.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.AvenueWhite_label.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueWhite_label.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueWhite_label.rnr-s-empty > :not(.runner-c) > *.style2,
.AvenueWhite_label.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.AvenueWhite_label.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-empty > :not(.runner-c) > *.style3,
.AvenueWhite_label.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.AvenueWhite_label.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-menu > .rnr-c
{
border: solid #C2C2C2 1px;
}
.AvenueWhite_label.rnr-s-menu > :not(.runner-c) > *.style1,
.AvenueWhite_label.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #E8E8E8;color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-menu > .rnr-c.rnr-ch
{
background-image: none; background-color: #E8E8E8;
}
.AvenueWhite_label.rnr-s-menu > :not(.runner-c) > *.style2,
.AvenueWhite_label.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #EBEBEB, #E8E8E8);
;
color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-menu > :not(.runner-c) > *.style3,
.AvenueWhite_label.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #E8E8E8;color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.AvenueWhite_label.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.AvenueWhite_label.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.AvenueWhite_label.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.AvenueWhite_label.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.AvenueWhite_label.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.AvenueWhite_label.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.AvenueWhite_label.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.AvenueWhite_label.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-hmenu > .rnr-c
{
background:none;

}
.AvenueWhite_label.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.AvenueWhite_label.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.AvenueWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style1,
.AvenueWhite_label.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.AvenueWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueWhite_label.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style2,
.AvenueWhite_label.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.AvenueWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style3,
.AvenueWhite_label.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.AvenueWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-undermenu > .rnr-c
{
border: solid #D7D7D7 1px;
}
.AvenueWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style1,
.AvenueWhite_label.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #004080;color: #353535;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #004080;
}
.AvenueWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style2,
.AvenueWhite_label.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style3,
.AvenueWhite_label.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.AvenueWhite_label.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.AvenueWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.AvenueWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 8px 10px;
}
.AvenueWhite_label.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.AvenueWhite_label.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.AvenueWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.AvenueWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.AvenueWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-fields > .rnr-c
{
border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;
}
.AvenueWhite_label.rnr-s-fields > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.AvenueWhite_label.rnr-s-fields > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.AvenueWhite_label.rnr-s-fields > :not(.runner-c) > *.style1,
.AvenueWhite_label.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #F1F1F1;color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-fields > .rnr-c.rnr-ch
{
background-image: none; background-color: #F1F1F1;
}
.AvenueWhite_label.rnr-s-fields > :not(.runner-c) > *.style2,
.AvenueWhite_label.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #E8E8E8;color: #353535;
font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-fields > :not(.runner-c) > *.style3,
.AvenueWhite_label.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #EAEAEA;color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-left: 3px;
}
.AvenueWhite_label.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-right: 3px;
}
.AvenueWhite_label.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.AvenueWhite_label.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueWhite_label.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueWhite_label.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.AvenueWhite_label.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 8px 11px;
}
.AvenueWhite_label.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.AvenueWhite_label.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-form > .rnr-c
{
border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}
.AvenueWhite_label.rnr-s-form > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 10px; padding-left: 5px;
border-bottom-left-radius: 10px; padding-left: 5px;

}
.AvenueWhite_label.rnr-s-form > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 10px; padding-right: 5px;
border-bottom-right-radius: 10px; padding-right: 5px;

}
.AvenueWhite_label.rnr-s-form > :not(.runner-c) > *.style1,
.AvenueWhite_label.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #00CCCC;color: #000080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #00CCCC;
}
.AvenueWhite_label.rnr-s-form > :not(.runner-c) > *.style2,
.AvenueWhite_label.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-form > :not(.runner-c) > *.style3,
.AvenueWhite_label.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #003366;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.AvenueWhite_label.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.AvenueWhite_label.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.AvenueWhite_label.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueWhite_label.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueWhite_label.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.AvenueWhite_label.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.AvenueWhite_label.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-1 > .rnr-c
{
border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;
}
.AvenueWhite_label.rnr-s-1 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.AvenueWhite_label.rnr-s-1 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.AvenueWhite_label.rnr-s-1 > :not(.runner-c) > *.style1,
.AvenueWhite_label.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #E8E8E8;color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-1 > .rnr-c.rnr-ch
{
background-image: none; background-color: #E8E8E8;
}
.AvenueWhite_label.rnr-s-1 > :not(.runner-c) > *.style2,
.AvenueWhite_label.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-1 > :not(.runner-c) > *.style3,
.AvenueWhite_label.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #3366FF;color: #D1EEEE;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-left: 3px;
}
.AvenueWhite_label.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-right: 3px;
}
.AvenueWhite_label.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.AvenueWhite_label.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 4px 4px;
}
.AvenueWhite_label.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueWhite_label.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueWhite_label.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.AvenueWhite_label.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 9px 10px;
}
.AvenueWhite_label.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.AvenueWhite_label.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-2 > .rnr-c
{
border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;
}
.AvenueWhite_label.rnr-s-2 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.AvenueWhite_label.rnr-s-2 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.AvenueWhite_label.rnr-s-2 > :not(.runner-c) > *.style1,
.AvenueWhite_label.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #F3F3F3, #E8E8E8);
;
color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-2 > .rnr-c.rnr-ch
{
background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #F3F3F3, #E8E8E8);
;

}
.AvenueWhite_label.rnr-s-2 > :not(.runner-c) > *.style2,
.AvenueWhite_label.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #3366FF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-2 > :not(.runner-c) > *.style3,
.AvenueWhite_label.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-left: 3px;
}
.AvenueWhite_label.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-right: 3px;
}
.AvenueWhite_label.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.AvenueWhite_label.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.AvenueWhite_label.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueWhite_label.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueWhite_label.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.AvenueWhite_label.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.AvenueWhite_label.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-3 > .rnr-c
{
border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;
}
.AvenueWhite_label.rnr-s-3 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.AvenueWhite_label.rnr-s-3 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.AvenueWhite_label.rnr-s-3 > :not(.runner-c) > *.style1,
.AvenueWhite_label.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #6699CC;
}
.AvenueWhite_label.rnr-s-3 > :not(.runner-c) > *.style2,
.AvenueWhite_label.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #000080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-3 > :not(.runner-c) > *.style3,
.AvenueWhite_label.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-left: 3px;
}
.AvenueWhite_label.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-right: 3px;
}
.AvenueWhite_label.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.AvenueWhite_label.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueWhite_label.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueWhite_label.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.AvenueWhite_label.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueWhite_label.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.AvenueWhite_label.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:not(.rnr-cs)
{
border-top: solid #DDDDDD 1px;

}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:not(.rnr-cs)
{
border-bottom: solid #DDDDDD 1px;

}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > td:first-child,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > td:first-child,
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > th:first-child,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > th:first-child,
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + td,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + td,
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + th,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + th
{
border-left: solid #DDDDDD 1px;

}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-edge,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-edge
{
border-right: solid #DDDDDD 1px;

}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:first-child,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:first-child,
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:first-child,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:first-child,
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + td,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + td,
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + th,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + th
{
border-top-left-radius: 2px;
}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:first-child,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:first-child,
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > th:first-child,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > th:first-child,
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + td,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + td,
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + th,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + th
{
border-bottom-left-radius: 2px;
}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > .rnr-edge,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > .rnr-edge
{
border-top-right-radius: 2px;
}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > .rnr-edge,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > .rnr-edge
{
border-bottom-right-radius: 2px;
}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > * > .rnr-edge,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > * > .rnr-edge
{
min-width: 2px;

}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #F2F2F2;
background: linear-gradient(0.000000turn, #F4F4F4, #F2F2F2);
;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #6F6F6F;padding: 5px 7px;
}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #004080; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFF00;padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #FFFFFF; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #6F6F6F;color: #6F6F6F;padding: 5px 4px;
}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #E8E8E8; background-image: none;color: #6F6F6F;
}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #A9A9A9; background-image: none;color: #6F6F6F;
}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #C2C2C2; background-image: none;color: #6F6F6F;
}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > thead > tr:last-child > th:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > thead > tr:last-child > th:not(.rnr-cs)
{
border-bottom: solid #DDDDDD 1px;

}
.AvenueWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs),
.AvenueWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs)
{
border-top: solid #DDDDDD 1px;

}
.AvenueWhite_label .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > *,
.AvenueWhite_label .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-image:none; background-color: #E8E8E8;color:#353535;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > * > hr,
.AvenueWhite_label .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#353535;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.AvenueWhite_label .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > *.current.current.current,
.AvenueWhite_label .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > * > ul li,
.AvenueWhite_label .rnr-b-vmenu.tree.main > *.subitem
{
background-image:none; background-color: #E8E8E8;color:#353535;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > * > ul li > hr,
.AvenueWhite_label .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#353535;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.AvenueWhite_label .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.AvenueWhite_label .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueWhite_label .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main >  * ul
{
border: solid #000000 1px;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main >  * ul > li:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueWhite_label .rnr-b-vmenu.simple.main > *:not(:first-child),
.AvenueWhite_label .rnr-b-vmenu.tree.main > *:not(.subitem):not(:first-child)
{
border-top:solid #000000 1px;
}
.AvenueWhite_label .rnr-b-vmenu.tree.main > *.subitem:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > *,
.AvenueWhite_label .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-image:none; background-color: #E8E8E8;color:#353535;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > * > hr,
.AvenueWhite_label .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#353535;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.AvenueWhite_label .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > *.current.current.current,
.AvenueWhite_label .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > * > ul li,
.AvenueWhite_label .rnr-b-vmenu.tree.second > *.subitem
{
background-image:none; background-color: #E8E8E8;color:#353535;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > * > ul li > hr,
.AvenueWhite_label .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#353535;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.AvenueWhite_label .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.AvenueWhite_label .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueWhite_label .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second >  * ul
{
border: solid #000000 1px;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second >  * ul > li:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueWhite_label .rnr-b-vmenu.simple.second > *:not(:first-child),
.AvenueWhite_label .rnr-b-vmenu.tree.second > *:not(.subitem):not(:first-child)
{
border-top:solid #000000 1px;
}
.AvenueWhite_label .rnr-b-vmenu.tree.second > *.subitem:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueWhite_label .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background: transparent;color:#6F6F6F;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;padding: 20px 10px;border: none;
}
.AvenueWhite_label .rnr-b-hmenu.main
{
background-image:none; background-color: #E8E8E8;
}
.AvenueWhite_label .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#6F6F6F;
}
.AvenueWhite_label .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background: transparent;color:#6F6F6F;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.main:hover:not(.expanded)
{
background-image:none; background-color: #F2F2F2;
}
.AvenueWhite_label .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.main.current.current
{
background-image:none; background-color: #004080;
}
.AvenueWhite_label .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background: transparent;color:#6F6F6F;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.main:hover.expanded
{
background-image:none; background-color: #F2F2F2;
}
.AvenueWhite_label .rnr-b-hmenu.main > ul li
{
background-image:none; background-color: #E8E8E8;color:#000080;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.main > ul li > hr
{
border-color:#000080;
}
.AvenueWhite_label .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #F6F6F6;color:#0000FF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.main > ul li.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.main > ul li:hover.expanded
{
background-image:none; background-color: #F6F6F6;color:#0000FF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.main > ul li > div > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueWhite_label .rnr-b-hmenu.main ul
{
border: solid #000000 1px;
}
.AvenueWhite_label .rnr-b-hmenu.main ul > li:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueWhite_label .rnr-b-hmenu.main:not(:last-child)
{
border-right: solid #004080 1px;
}
.AvenueWhite_label :not(.rnr-b-hmenu):not(.main) + .rnr-b-hmenu.main
{
border-left: solid #004080 1px;
}
.AvenueWhite_label .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background: transparent;color:#6F6F6F;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;padding: 20px 10px;border: none;
}
.AvenueWhite_label .rnr-b-hmenu.second
{
background-image:none; background-color: #E8E8E8;
}
.AvenueWhite_label .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#6F6F6F;
}
.AvenueWhite_label .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background: transparent;color:#6F6F6F;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.second:hover:not(.expanded)
{
background-image:none; background-color: #F2F2F2;
}
.AvenueWhite_label .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.second.current.current
{
background-image:none; background-color: #004080;
}
.AvenueWhite_label .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background: transparent;color:#6F6F6F;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.second:hover.expanded
{
background-image:none; background-color: #F2F2F2;
}
.AvenueWhite_label .rnr-b-hmenu.second > ul li
{
background-image:none; background-color: #E8E8E8;color:#000080;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.second > ul li > hr
{
border-color:#000080;
}
.AvenueWhite_label .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #F6F6F6;color:#0000FF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.second > ul li.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.second > ul li:hover.expanded
{
background-image:none; background-color: #F6F6F6;color:#0000FF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-b-hmenu.second > ul li > div > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueWhite_label .rnr-b-hmenu.second ul
{
border: solid #000000 1px;
}
.AvenueWhite_label .rnr-b-hmenu.second ul > li:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueWhite_label .rnr-b-hmenu.second:not(:last-child)
{
border-right: solid #004080 10px;
}
.AvenueWhite_label :not(.rnr-b-hmenu):not(.second) + .rnr-b-hmenu.second
{
border-left: solid #004080 10px;
}
body.AvenueWhite_label
{

background-color:#F5F5F5;
}
.AvenueWhite_label .rnr-list
{
color: #000000;background-color: #A9A9A9;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;border: solid #696969 1px;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.AvenueWhite_label .rnr-tab.selected
{
background-color:#0000FF;
border-top-left-radius:3px;
border-top-right-radius:3px;

}
.AvenueWhite_label .rnr-tab
{
background-color:#C0C0C0;
border-top-left-radius:3px;
border-top-right-radius:3px;
border: solid #000000 1px; border-bottom-width:0;
}
.AvenueWhite_label .rnr-tab.selected > a
{
color: #FFFFFF;

}
.AvenueWhite_label .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .yui-navset .yui-content
{
border: solid #0000FF 1px;border-top-width: 5px;
}
.AvenueWhite_label .rnr-stepnav > a.active,
.AvenueWhite_label .rnr-stepnav > a:hover:not(.active)
{
background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #ECECEC, #E8E8E8);
;
color: #353535;

}
.AvenueWhite_label .rnr-stepnav > a.active:after,
.AvenueWhite_label .rnr-stepnav > a:hover:not(.active):after
{
background-color: #E8E8E8;
background: linear-gradient(0.875000turn, #ECECEC, #E8E8E8);
;

}
.AvenueWhite_label .rnr-stepnav > a:not(.active),
.AvenueWhite_label .rnr-stepnav > a:not(.active):after
{
background-image: none; background-color: #E8E8E8;

}
.AvenueWhite_label .rnr-stepnav > a:before
{
background-image: none; background: #F2F2F2;

}
.AvenueWhite_label .rnr-stepnav > a:not(.active)
{
color: #DDDDDD;

}
.AvenueWhite_label .rnr-stepnav > a:before 
{
color: #353535;

}
.AvenueWhite_label .rnr-stepnav > a,
 .rnr-pagewrapper .AvenueWhite_label .rnr-stepnav > a,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .rnr-stepnav > a
{
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label  .rnr-message
{
background-color: #F1F1F1;border: solid #D7D7D7 1px;color: #008000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label  .rnr-error.rnr-error
{
color: #A80000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .yui3-panel-content.yui3-panel-content
{
border-radius: 3px;
}
.AvenueWhite_label  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #004080; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.AvenueWhite_label  .yui3-widget-ft
{
background-color: #E8E8E8; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #353535;
}
.AvenueWhite_label .rnr-dbbordered
{
border-radius: 3px;
}
.AvenueWhite_label  .rnr-dbelemheader
{
background-color: #004080; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.AvenueWhite_label  .rnr-dbelemfooter
{
background-color: #D8D8D8; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #000000;
}
.AvenueWhite_label  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFACD; background-image: none;color: #4C4951;
}
.AvenueWhite_label .rnr-dashboard
{
background-color: #FFFFFF;
}
.AvenueWhite_label .rnr-button.rnr-button,
.AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.AvenueWhite_label .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueWhite_label .rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueWhite_label .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .button.button.button.rnr-button.rnr-button
{
border: solid 1px;border-radius: 3px;padding: 3px 10px 4px;background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #ECECEC, #E8E8E8);
;
border-color: #000000;color: #353535;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .rnr-button.rnr-button.img,
.AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.AvenueWhite_label .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueWhite_label .rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueWhite_label .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .button.button.button.rnr-button.rnr-button.img
{
padding: 3px;

}
.AvenueWhite_label .rnr-button:hover,
.AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.AvenueWhite_label .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .AvenueWhite_label .rnr-button:hover,
 .rnr-pagewrapper .AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .AvenueWhite_label .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .button.button.button.rnr-button:hover
{
background-color: #F2F2F2;
background: linear-gradient(0.000000turn, #F4F4F4, #F2F2F2);
;
border-color: #000000;color: #353535;

}
.AvenueWhite_label .rnr-button:active,
.AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.AvenueWhite_label .button.button.button.rnr-button:active,
 .rnr-pagewrapper .AvenueWhite_label .rnr-button:active,
 .rnr-pagewrapper .AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .AvenueWhite_label .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .button.button.button.rnr-button:active
{
background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #ECECEC, #E8E8E8);
;
border-color: #000000;color: #353535;

}
.AvenueWhite_label .rnr-button.disabled,
.AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.AvenueWhite_label .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .AvenueWhite_label .rnr-button.disabled,
 .rnr-pagewrapper .AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .AvenueWhite_label .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .button.button.button.rnr-button.disabled
{
background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #ECECEC, #E8E8E8);
;
border-color: #000000;color: #DDDDDD;

}
.AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.AvenueWhite_label .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueWhite_label .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .link.link.link.rnr-button.rnr-button
{
background: none; border: none; ;
border: none;border-radius: 0px;padding: 4px 8px 4px;color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.AvenueWhite_label .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueWhite_label .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.AvenueWhite_label .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .AvenueWhite_label .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .link.link.link.rnr-button:hover
{
color: #3366FF;

}
.AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.AvenueWhite_label .link.link.link.rnr-button:active,
 .rnr-pagewrapper .AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .AvenueWhite_label .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .link.link.link.rnr-button:active
{
color: #004080;

}
.AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.AvenueWhite_label .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .AvenueWhite_label .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .link.link.link.rnr-button.disabled
{
color: #000000;

}
.AvenueWhite_label .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueWhite_label .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .main.main.main.rnr-button.rnr-button
{
border: solid 2px;border-radius: 3px;padding: 3px 10px 4px;background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #ECECEC, #E8E8E8);
;
border-color: #000000;color: #353535;
font-family: Arial, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.AvenueWhite_label .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueWhite_label .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .main.main.main.rnr-button.rnr-button.img
{
padding: 3px;

}
.AvenueWhite_label .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .AvenueWhite_label .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .main.main.main.rnr-button:hover
{
background-color: #F2F2F2;
background: linear-gradient(0.000000turn, #F4F4F4, #F2F2F2);
;
border-color: #000000;color: #353535;

}
.AvenueWhite_label .main.main.main.rnr-button:active,
 .rnr-pagewrapper .AvenueWhite_label .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .main.main.main.rnr-button:active
{
background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #ECECEC, #E8E8E8);
;
border-color: #000000;color: #353535;

}
.AvenueWhite_label .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .AvenueWhite_label .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueWhite_label .main.main.main.rnr-button.disabled
{
background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #ECECEC, #E8E8E8);
;
border-color: #000000;color: #DDDDDD;

}
.rnr-left, .rnr-center{
    background-color:#ffffff;
}