<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="nome">
	{$nome_editcontrol}
	</control>
	<control 
	field="login">
	{$login_editcontrol}
	</control>
	<control 
	field="senha">
	{$senha_editcontrol}
	</control>
	<control 
	field="email">
	{$email_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
