<ul class="nav navbar-nav">
{$active_submenu}
	{BEGIN item1_menulink}
	<li class="  {$item1_current}">
	<a {$item1_menulink_attrs}>{$item1_title}</a>

	</li>
	{END item1_menulink}
	{BEGIN item2_menulink}
	<li class="  {$item2_current}">
	<a {$item2_menulink_attrs}>{$item2_title}</a>

	</li>
	{END item2_menulink}
	{BEGIN item3_menulink}
	<li class="  {$item3_current}">
	<a {$item3_menulink_attrs}>{$item3_title}</a>

	</li>
	{END item3_menulink}
	{BEGIN item4_menulink}
	<li class="  {$item4_current}">
	<a {$item4_menulink_attrs}>{$item4_title}</a>

	</li>
	{END item4_menulink}
</ul>

