<ul class="nav navbar-nav">
{$active_submenu}
	{BEGIN item1_menulink}
	<li class="  dropdown  {$item1_current}">
	<a {$item1_menulink_attrs}>{$item1_title}</a>

			<ul class="dropdown-menu">
			{BEGIN item2_menulink}
			<li  class="  {$item2_current}">
			<a {$item2_menulink_attrs}>{$item2_title}</a>

			</li>
			{END item2_menulink}
					{BEGIN item3_menulink}
			<li  class="  {$item3_current}">
			<a {$item3_menulink_attrs}>{$item3_title}</a>

			</li>
			{END item3_menulink}
					{BEGIN item4_menulink}
			<li  class="  {$item4_current}">
			<a {$item4_menulink_attrs}>{$item4_title}</a>

			</li>
			{END item4_menulink}
					{BEGIN item5_menulink}
			<li  class="  {$item5_current}">
			<a {$item5_menulink_attrs}>{$item5_title}</a>

			</li>
			{END item5_menulink}
					{BEGIN item6_menulink}
			<li  class="  {$item6_current}">
			<a {$item6_menulink_attrs}>{$item6_title}</a>

			</li>
			{END item6_menulink}
			</ul>
	</li>
	{END item1_menulink}
	{BEGIN item7_menulink}
	<li class="  dropdown  {$item7_current}">
	<a {$item7_menulink_attrs}>{$item7_title}</a>

			<ul class="dropdown-menu">
			{BEGIN item8_menulink}
			<li  class="  dropdown  {$item8_current}">
			<a {$item8_menulink_attrs}>{$item8_title}</a>

							<ul class="dropdown-menu">
					{BEGIN item9_menulink}
					<li  class="  {$item9_current}">
					<a {$item9_menulink_attrs}>{$item9_title}</a>

					</li>
					{END item9_menulink}
											{BEGIN item10_menulink}
					<li  class="  {$item10_current}">
					<a {$item10_menulink_attrs}>{$item10_title}</a>

					</li>
					{END item10_menulink}
											{BEGIN item11_menulink}
					<li  class="  {$item11_current}">
					<a {$item11_menulink_attrs}>{$item11_title}</a>

					</li>
					{END item11_menulink}
											{BEGIN item12_menulink}
					<li  class="  {$item12_current}">
					<a {$item12_menulink_attrs}>{$item12_title}</a>

					</li>
					{END item12_menulink}
							</ul>
			</li>
			{END item8_menulink}
					{BEGIN item13_menulink}
			<li  class="  {$item13_current}">
			<a {$item13_menulink_attrs}>{$item13_title}</a>

			</li>
			{END item13_menulink}
					{BEGIN item14_menulink}
			<li  class="  {$item14_current}">
			<a {$item14_menulink_attrs}>{$item14_title}</a>

			</li>
			{END item14_menulink}
					{BEGIN item15_menulink}
			<li  class="  {$item15_current}">
			<a {$item15_menulink_attrs}>{$item15_title}</a>

			</li>
			{END item15_menulink}
					{BEGIN item16_menulink}
			<li  class="  {$item16_current}">
			<a {$item16_menulink_attrs}>{$item16_title}</a>

			</li>
			{END item16_menulink}
					{BEGIN item17_menulink}
			<li  class="  dropdown  {$item17_current}">
			<a {$item17_menulink_attrs}>{$item17_title}</a>

							<ul class="dropdown-menu">
					{BEGIN item18_menulink}
					<li  class="  {$item18_current}">
					<a {$item18_menulink_attrs}>{$item18_title}</a>

					</li>
					{END item18_menulink}
											{BEGIN item19_menulink}
					<li  class="  {$item19_current}">
					<a {$item19_menulink_attrs}>{$item19_title}</a>

					</li>
					{END item19_menulink}
											{BEGIN item20_menulink}
					<li  class="  {$item20_current}">
					<a {$item20_menulink_attrs}>{$item20_title}</a>

					</li>
					{END item20_menulink}
							</ul>
			</li>
			{END item17_menulink}
			</ul>
	</li>
	{END item7_menulink}
	{BEGIN item21_menulink}
	<li class="  dropdown  {$item21_current}">
	<a {$item21_menulink_attrs}>{$item21_title}</a>

			<ul class="dropdown-menu">
			{BEGIN item22_menulink}
			<li  class="  {$item22_current}">
			<a {$item22_menulink_attrs}>{$item22_title}</a>

			</li>
			{END item22_menulink}
					{BEGIN item23_menulink}
			<li  class="  {$item23_current}">
			<a {$item23_menulink_attrs}>{$item23_title}</a>

			</li>
			{END item23_menulink}
					{BEGIN item24_menulink}
			<li  class="  {$item24_current}">
			<a {$item24_menulink_attrs}>{$item24_title}</a>

			</li>
			{END item24_menulink}
					{BEGIN item25_menulink}
			<li  class="  {$item25_current}">
			<a {$item25_menulink_attrs}>{$item25_title}</a>

			</li>
			{END item25_menulink}
			</ul>
	</li>
	{END item21_menulink}
	{BEGIN item26_menulink}
	<li class="  dropdown  {$item26_current}">
	<a {$item26_menulink_attrs}>{$item26_title}</a>

			<ul class="dropdown-menu">
			{BEGIN item27_menulink}
			<li  class="  {$item27_current}">
			<a {$item27_menulink_attrs}>{$item27_title}</a>

			</li>
			{END item27_menulink}
					{BEGIN item28_menulink}
			<li  class="  {$item28_current}">
			<a {$item28_menulink_attrs}>{$item28_title}</a>

			</li>
			{END item28_menulink}
					{BEGIN item29_menulink}
			<li  class="  {$item29_current}">
			<a {$item29_menulink_attrs}>{$item29_title}</a>

			</li>
			{END item29_menulink}
					{BEGIN item30_menulink}
			<li  class="  {$item30_current}">
			<a {$item30_menulink_attrs}>{$item30_title}</a>

			</li>
			{END item30_menulink}
					{BEGIN item31_menulink}
			<li  class="  {$item31_current}">
			<a {$item31_menulink_attrs}>{$item31_title}</a>

			</li>
			{END item31_menulink}
			</ul>
	</li>
	{END item26_menulink}
	{BEGIN item32_menulink}
	<li class="  dropdown  {$item32_current}">
	<a {$item32_menulink_attrs}>{$item32_title}</a>

			<ul class="dropdown-menu">
			{BEGIN item33_menulink}
			<li  class="  {$item33_current}">
			<a {$item33_menulink_attrs}>{$item33_title}</a>

			</li>
			{END item33_menulink}
					{BEGIN item34_menulink}
			<li  class="  {$item34_current}">
			<a {$item34_menulink_attrs}>{$item34_title}</a>

			</li>
			{END item34_menulink}
			</ul>
	</li>
	{END item32_menulink}
	{BEGIN item35_menulink}
	<li class="  dropdown  {$item35_current}">
	<a {$item35_menulink_attrs}>{$item35_title}</a>

			<ul class="dropdown-menu">
			{BEGIN item36_menulink}
			<li  class="  {$item36_current}">
			<a {$item36_menulink_attrs}>{$item36_title}</a>

			</li>
			{END item36_menulink}
			</ul>
	</li>
	{END item35_menulink}
	{BEGIN item37_menulink}
	<li class="  {$item37_current}">
	<a {$item37_menulink_attrs}>{$item37_title}</a>

	</li>
	{END item37_menulink}
</ul>

