<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><span>{$pagetitlelabel fin_despesas masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=idDespesa]:before {
		content: "{$label fin_despesas idDespesa}";
	}
	.bs-gridcell[data-field=vencimento]:before {
		content: "{$label fin_despesas vencimento}";
	}
	.bs-gridcell[data-field=link_fin_meiospgto]:before {
		content: "{$label fin_despesas link_fin_meiospgto}";
	}
	.bs-gridcell[data-field=anotado]:before {
		content: "{$label fin_despesas anotado}";
	}
	.bs-gridcell[data-field=obs]:before {
		content: "{$label fin_despesas obs}";
	}
	.bs-gridcell[data-field=link_fin_tipogasto]:before {
		content: "{$label fin_despesas link_fin_tipogasto}";
	}
	.bs-gridcell[data-field=link_fin_tipodoc]:before {
		content: "{$label fin_despesas link_fin_tipodoc}";
	}
	.bs-gridcell[data-field=ndoc]:before {
		content: "{$label fin_despesas ndoc}";
	}
	.bs-gridcell[data-field=link_fin_fornecedor]:before {
		content: "{$label fin_despesas link_fin_fornecedor}";
	}
	.bs-gridcell[data-field=valor]:before {
		content: "{$label fin_despesas valor}";
	}
	.bs-gridcell[data-field=link_fin_conta]:before {
		content: "{$label fin_despesas link_fin_conta}";
	}
	.bs-gridcell[data-field=pagamento]:before {
		content: "{$label fin_despesas pagamento}";
	}
	.bs-gridcell[data-field=ultimaalteracao]:before {
		content: "{$label fin_despesas ultimaalteracao}";
	}
	.bs-gridcell[data-field=ultimousuario]:before {
		content: "{$label fin_despesas ultimousuario}";
	}
	.bs-gridcell[data-field=link_ger_grupo]:before {
		content: "{$label fin_despesas link_ger_grupo}";
	}
	.bs-gridcell[data-field=documento]:before {
		content: "{$label fin_despesas documento}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$documento_class}">{$label fin_despesas documento}</th>
			<th class="{$link_ger_grupo_class}">{$label fin_despesas link_ger_grupo}</th>
			<th class="{$link_fin_fornecedor_class}">{$label fin_despesas link_fin_fornecedor}</th>
			<th class="{$link_fin_tipogasto_class}">{$label fin_despesas link_fin_tipogasto}</th>
			<th class="{$vencimento_class}">{$label fin_despesas vencimento}</th>
			<th class="{$link_fin_meiospgto_class}">{$label fin_despesas link_fin_meiospgto}</th>
			<th class="{$link_fin_tipodoc_class}">{$label fin_despesas link_fin_tipodoc}</th>
			<th class="{$ndoc_class}">{$label fin_despesas ndoc}</th>
			<th class="{$link_fin_conta_class}">{$label fin_despesas link_fin_conta}</th>
			<th class="{$valor_class}">{$label fin_despesas valor}</th>
			<th class="{$pagamento_class}">{$label fin_despesas pagamento}</th>
			<th class="{$obs_class}">{$label fin_despesas obs}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$documento_class} bs-gridcell" data-field=documento>{$documento_mastervalue}</td>
			<td class="{$link_ger_grupo_class} bs-gridcell" data-field=link_ger_grupo>{$link_ger_grupo_mastervalue}</td>
			<td class="{$link_fin_fornecedor_class} bs-gridcell" data-field=link_fin_fornecedor>{$link_fin_fornecedor_mastervalue}</td>
			<td class="{$link_fin_tipogasto_class} bs-gridcell" data-field=link_fin_tipogasto>{$link_fin_tipogasto_mastervalue}</td>
			<td class="{$vencimento_class} bs-gridcell" data-field=vencimento>{$vencimento_mastervalue}</td>
			<td class="{$link_fin_meiospgto_class} bs-gridcell" data-field=link_fin_meiospgto>{$link_fin_meiospgto_mastervalue}</td>
			<td class="{$link_fin_tipodoc_class} bs-gridcell" data-field=link_fin_tipodoc>{$link_fin_tipodoc_mastervalue}</td>
			<td class="{$ndoc_class} bs-gridcell" data-field=ndoc>{$ndoc_mastervalue}</td>
			<td class="{$link_fin_conta_class} bs-gridcell" data-field=link_fin_conta>{$link_fin_conta_mastervalue}</td>
			<td class="{$valor_class} bs-gridcell" data-field=valor>{$valor_mastervalue}</td>
			<td class="{$pagamento_class} bs-gridcell" data-field=pagamento>{$pagamento_mastervalue}</td>
			<td class="{$obs_class} bs-gridcell" data-field=obs>{$obs_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>