<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel fin_despesas masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
		<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$documento_class}">{$label fin_despesas documento}</th>
			<th class="{$link_ger_grupo_class}">{$label fin_despesas link_ger_grupo}</th>
			<th class="{$link_fin_fornecedor_class}">{$label fin_despesas link_fin_fornecedor}</th>
			<th class="{$link_fin_tipogasto_class}">{$label fin_despesas link_fin_tipogasto}</th>
			<th class="{$vencimento_class}">{$label fin_despesas vencimento}</th>
			<th class="{$link_fin_meiospgto_class}">{$label fin_despesas link_fin_meiospgto}</th>
			<th class="{$link_fin_tipodoc_class}">{$label fin_despesas link_fin_tipodoc}</th>
			<th class="{$ndoc_class}">{$label fin_despesas ndoc}</th>
			<th class="{$link_fin_conta_class}">{$label fin_despesas link_fin_conta}</th>
			<th class="{$valor_class}">{$label fin_despesas valor}</th>
			<th class="{$pagamento_class}">{$label fin_despesas pagamento}</th>
			<th class="{$obs_class}">{$label fin_despesas obs}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$documento_class}">{$documento_mastervalue}</td>
			<td class="{$link_ger_grupo_class}">{$link_ger_grupo_mastervalue}</td>
			<td class="{$link_fin_fornecedor_class}">{$link_fin_fornecedor_mastervalue}</td>
			<td class="{$link_fin_tipogasto_class}">{$link_fin_tipogasto_mastervalue}</td>
			<td class="{$vencimento_class}">{$vencimento_mastervalue}</td>
			<td class="{$link_fin_meiospgto_class}">{$link_fin_meiospgto_mastervalue}</td>
			<td class="{$link_fin_tipodoc_class}">{$link_fin_tipodoc_mastervalue}</td>
			<td class="{$ndoc_class}">{$ndoc_mastervalue}</td>
			<td class="{$link_fin_conta_class}">{$link_fin_conta_mastervalue}</td>
			<td class="{$valor_class}">{$valor_mastervalue}</td>
			<td class="{$pagamento_class}">{$pagamento_mastervalue}</td>
			<td class="{$obs_class}">{$obs_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>