<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$dtpagamento_class}">{$label fin_bco_ext1 dtpagamento}</th>
			<th class="{$grupo_class}">{$label fin_bco_ext1 grupo}</th>
			<th class="{$operacao_class}">{$label fin_bco_ext1 operacao}</th>
			<th class="{$obs_class}">{$label fin_bco_ext1 obs}</th>
			<th class="{$numdoc_class}">{$label fin_bco_ext1 numdoc}</th>
			<th class="{$vlrcob_class}">{$label fin_bco_ext1 vlrcob}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$dtpagamento_class}">{$dtpagamento_value}</td>
			<td class="{$grupo_class}">{$grupo_value}</td>
			<td class="{$operacao_class}">{$operacao_value}</td>
			<td class="{$obs_class}">{$obs_value}</td>
			<td class="{$numdoc_class}">{$numdoc_value}</td>
			<td class="{$vlrcob_class}">{$vlrcob_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>