<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$link_ger_grupo_class}">{$label fin_cheques link_ger_grupo}</th>
			<th class="{$link_fin_conta_class}">{$label fin_cheques link_fin_conta}</th>
			<th class="{$numcheque_class}">{$label fin_cheques numcheque}</th>
			<th class="{$valor_class}">{$label fin_cheques valor}</th>
			<th class="{$data_class}">{$label fin_cheques data}</th>
			<th class="{$link_fin_despesa_class}">{$label fin_cheques link_fin_despesa}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$link_ger_grupo_class}">{$link_ger_grupo_value}</td>
			<td class="{$link_fin_conta_class}">{$link_fin_conta_value}</td>
			<td class="{$numcheque_class}">{$numcheque_value}</td>
			<td class="{$valor_class}">{$valor_value}</td>
			<td class="{$data_class}">{$data_value}</td>
			<td class="{$link_fin_despesa_class}">{$link_fin_despesa_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>