<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$bolSantander_class}">{$label fin_cobranca_atualizacao_aberto bolSantander}</th>
			<th class="{$numdoc_class}">{$label fin_cobranca_atualizacao_aberto numdoc}</th>
			<th class="{$nome_class}">{$label fin_cobranca_atualizacao_aberto nome}</th>
			<th class="{$unidadeir_class}">{$label fin_cobranca_atualizacao_aberto unidadeir}</th>
			<th class="{$unidade_class}">{$label fin_cobranca_atualizacao_aberto unidade}</th>
			<th class="{$vencimento_class}">{$label fin_cobranca_atualizacao_aberto vencimento}</th>
			<th class="{$obs_class}">{$label fin_cobranca_atualizacao_aberto obs}</th>
			<th class="{$vlrcob_class}">{$label fin_cobranca_atualizacao_aberto vlrcob}</th>
			<th class="{$multacalculada_class}">{$label fin_cobranca_atualizacao_aberto multacalculada}</th>
			<th class="{$mesesemaberto_class}">{$label fin_cobranca_atualizacao_aberto mesesemaberto}</th>
			<th class="{$juroscalculado_class}">{$label fin_cobranca_atualizacao_aberto juroscalculado}</th>
			<th class="{$correcao_class}">{$label fin_cobranca_atualizacao_aberto correcao}</th>
			<th class="{$vlrtotal_class}">{$label fin_cobranca_atualizacao_aberto vlrtotal}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$bolSantander_class}">{$bolSantander_value}</td>
			<td class="{$numdoc_class}">{$numdoc_value}</td>
			<td class="{$nome_class}">{$nome_value}</td>
			<td class="{$unidadeir_class}">{$unidadeir_value}</td>
			<td class="{$unidade_class}">{$unidade_value}</td>
			<td class="{$vencimento_class}">{$vencimento_value}</td>
			<td class="{$obs_class}">{$obs_value}</td>
			<td class="{$vlrcob_class}">{$vlrcob_value}</td>
			<td class="{$multacalculada_class}">{$multacalculada_value}</td>
			<td class="{$mesesemaberto_class}">{$mesesemaberto_value}</td>
			<td class="{$juroscalculado_class}">{$juroscalculado_value}</td>
			<td class="{$correcao_class}">{$correcao_value}</td>
			<td class="{$vlrtotal_class}">{$vlrtotal_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>