<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$bolSantander_class}">{$label fin_cobranca bolSantander}</th>
			<th class="{$link_ger_unidade_class}">{$label fin_cobranca link_ger_unidade}</th>
			<th class="{$vencimento_class}">{$label fin_cobranca vencimento}</th>
			<th class="{$cadastro_class}">{$label fin_cobranca cadastro}</th>
			<th class="{$unidadeir_class}">{$label fin_cobranca unidadeir}</th>
			<th class="{$numdoc_class}">{$label fin_cobranca numdoc}</th>
			<th class="{$datadoc_class}">{$label fin_cobranca datadoc}</th>
			<th class="{$vlrcob_class}">{$label fin_cobranca vlrcob}</th>
			<th class="{$obs_class}">{$label fin_cobranca obs}</th>
			<th class="{$liq_class}">{$label fin_cobranca liq}</th>
			<th class="{$baixado_class}">{$label fin_cobranca baixado}</th>
			<th class="{$acordo_class}">{$label fin_cobranca acordo}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$bolSantander_class}">{$bolSantander_value}</td>
			<td class="{$link_ger_unidade_class}">{$link_ger_unidade_value}</td>
			<td class="{$vencimento_class}">{$vencimento_value}</td>
			<td class="{$cadastro_class}">{$cadastro_value}</td>
			<td class="{$unidadeir_class}">{$unidadeir_value}</td>
			<td class="{$numdoc_class}">{$numdoc_value}</td>
			<td class="{$datadoc_class}">{$datadoc_value}</td>
			<td class="{$vlrcob_class}">{$vlrcob_value}</td>
			<td class="{$obs_class}">{$obs_value}</td>
			<td class="{$liq_class}">{$liq_value}</td>
			<td class="{$baixado_class}">{$baixado_value}</td>
			<td class="{$acordo_class}">{$acordo_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>