<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="data">
	{$data_editcontrol}
	</control>
	<control field="indice">
	{$indice_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>