<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$documento_class}">{$label fin_despesas documento}</th>
			<th class="{$link_ger_grupo_class}">{$label fin_despesas link_ger_grupo}</th>
			<th class="{$link_fin_fornecedor_class}">{$label fin_despesas link_fin_fornecedor}</th>
			<th class="{$link_fin_tipogasto_class}">{$label fin_despesas link_fin_tipogasto}</th>
			<th class="{$vencimento_class}">{$label fin_despesas vencimento}</th>
			<th class="{$link_fin_meiospgto_class}">{$label fin_despesas link_fin_meiospgto}</th>
			<th class="{$link_fin_tipodoc_class}">{$label fin_despesas link_fin_tipodoc}</th>
			<th class="{$ndoc_class}">{$label fin_despesas ndoc}</th>
			<th class="{$link_fin_conta_class}">{$label fin_despesas link_fin_conta}</th>
			<th class="{$valor_class}">{$label fin_despesas valor}</th>
			<th class="{$pagamento_class}">{$label fin_despesas pagamento}</th>
			<th class="{$obs_class}">{$label fin_despesas obs}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$documento_class}">{$documento_value}</td>
			<td class="{$link_ger_grupo_class}">{$link_ger_grupo_value}</td>
			<td class="{$link_fin_fornecedor_class}">{$link_fin_fornecedor_value}</td>
			<td class="{$link_fin_tipogasto_class}">{$link_fin_tipogasto_value}</td>
			<td class="{$vencimento_class}">{$vencimento_value}</td>
			<td class="{$link_fin_meiospgto_class}">{$link_fin_meiospgto_value}</td>
			<td class="{$link_fin_tipodoc_class}">{$link_fin_tipodoc_value}</td>
			<td class="{$ndoc_class}">{$ndoc_value}</td>
			<td class="{$link_fin_conta_class}">{$link_fin_conta_value}</td>
			<td class="{$valor_class}">{$valor_value}</td>
			<td class="{$pagamento_class}">{$pagamento_value}</td>
			<td class="{$obs_class}">{$obs_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>