<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel ger_cadastro masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
		<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$nome_class}">{$label ger_cadastro nome}</th>
			<th class="{$TelPrim_class}">{$label ger_cadastro TelPrim}</th>
			<th class="{$TelSec_class}">{$label ger_cadastro TelSec}</th>
			<th class="{$morador_class}">{$label ger_cadastro morador}</th>
			<th class="{$ativo_class}">{$label ger_cadastro ativo}</th>
			<th class="{$situacao_class}">{$label ger_cadastro situacao}</th>
			<th class="{$obs_class}">{$label ger_cadastro obs}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$nome_class}">{$nome_mastervalue}</td>
			<td class="{$TelPrim_class}">{$TelPrim_mastervalue}</td>
			<td class="{$TelSec_class}">{$TelSec_mastervalue}</td>
			<td class="{$morador_class}">{$morador_mastervalue}</td>
			<td class="{$ativo_class}">{$ativo_mastervalue}</td>
			<td class="{$situacao_class}">{$situacao_mastervalue}</td>
			<td class="{$obs_class}">{$obs_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>