<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$grupounidade_class}">{$label ger_unidades grupounidade}</th>
			<th class="{$link_ger_cadastro_class}">{$label ger_unidades link_ger_cadastro}</th>
			<th class="{$dia_pref_venc_class}">{$label ger_unidades dia_pref_venc}</th>
			<th class="{$ativo_class}">{$label ger_unidades ativo}</th>
			<th class="{$frideal_class}">{$label ger_unidades frideal}</th>
			<th class="{$obs_class}">{$label ger_unidades obs}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$grupounidade_class}">{$grupounidade_value}</td>
			<td class="{$link_ger_cadastro_class}">{$link_ger_cadastro_value}</td>
			<td class="{$dia_pref_venc_class}">{$dia_pref_venc_value}</td>
			<td class="{$ativo_class}">{$ativo_value}</td>
			<td class="{$frideal_class}">{$frideal_value}</td>
			<td class="{$obs_class}">{$obs_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>