<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$nome_class}">{$label ger_moradores nome}</th>
			<th class="{$link_ger_unidades_class}">{$label ger_moradores link_ger_unidades}</th>
			<th class="{$relacaocomunid_class}">{$label ger_moradores relacaocomunid}</th>
			<th class="{$obs_class}">{$label ger_moradores obs}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$nome_class}">{$nome_value}</td>
			<td class="{$link_ger_unidades_class}">{$link_ger_unidades_value}</td>
			<td class="{$relacaocomunid_class}">{$relacaocomunid_value}</td>
			<td class="{$obs_class}">{$obs_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>