<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><span>{$pagetitlelabel ger_grupo masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=idGrupo]:before {
		content: "{$label ger_grupo idGrupo}";
	}
	.bs-gridcell[data-field=nome]:before {
		content: "{$label ger_grupo nome}";
	}
	.bs-gridcell[data-field=obs]:before {
		content: "{$label ger_grupo obs}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$nome_class}">{$label ger_grupo nome}</th>
			<th class="{$idGrupo_class}">{$label ger_grupo idGrupo}</th>
			<th class="{$obs_class}">{$label ger_grupo obs}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$nome_class} bs-gridcell" data-field=nome>{$nome_mastervalue}</td>
			<td class="{$idGrupo_class} bs-gridcell" data-field=idGrupo>{$idGrupo_mastervalue}</td>
			<td class="{$obs_class} bs-gridcell" data-field=obs>{$obs_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>