<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel ger_unidades masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
		<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$grupounidade_class}">{$label ger_unidades grupounidade}</th>
			<th class="{$link_ger_cadastro_class}">{$label ger_unidades link_ger_cadastro}</th>
			<th class="{$dia_pref_venc_class}">{$label ger_unidades dia_pref_venc}</th>
			<th class="{$ativo_class}">{$label ger_unidades ativo}</th>
			<th class="{$frideal_class}">{$label ger_unidades frideal}</th>
			<th class="{$obs_class}">{$label ger_unidades obs}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$grupounidade_class}">{$grupounidade_mastervalue}</td>
			<td class="{$link_ger_cadastro_class}">{$link_ger_cadastro_mastervalue}</td>
			<td class="{$dia_pref_venc_class}">{$dia_pref_venc_mastervalue}</td>
			<td class="{$ativo_class}">{$ativo_mastervalue}</td>
			<td class="{$frideal_class}">{$frideal_mastervalue}</td>
			<td class="{$obs_class}">{$obs_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>