<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$pendente_class}">{$label ger_ocorrencias pendente}</th>
			<th class="{$ocorrencia_class}">{$label ger_ocorrencias ocorrencia}</th>
			<th class="{$link_ger_cadastro_class}">{$label ger_ocorrencias link_ger_cadastro}</th>
			<th class="{$ultimousuario_class}">{$label ger_ocorrencias ultimousuario}</th>
			<th class="{$ultimaalteracao_class}">{$label ger_ocorrencias ultimaalteracao}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$pendente_class}">{$pendente_value}</td>
			<td class="{$ocorrencia_class}">{$ocorrencia_value}</td>
			<td class="{$link_ger_cadastro_class}">{$link_ger_cadastro_value}</td>
			<td class="{$ultimousuario_class}">{$ultimousuario_value}</td>
			<td class="{$ultimaalteracao_class}">{$ultimaalteracao_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>