<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$nomedoc_class}">{$label ger_arquivos_grupos nomedoc}</th>
			<th class="{$obs_class}">{$label ger_arquivos_grupos obs}</th>
			<th class="{$arquivo_class}">{$label ger_arquivos_grupos arquivo}</th>
			<th class="{$link_ger_grupos_class}">{$label ger_arquivos_grupos link_ger_grupos}</th>
			<th class="{$link_ger_tipos_arquivo_class}">{$label ger_arquivos_grupos link_ger_tipos_arquivo}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$nomedoc_class}">{$nomedoc_value}</td>
			<td class="{$obs_class}">{$obs_value}</td>
			<td class="{$arquivo_class}">{$arquivo_value}</td>
			<td class="{$link_ger_grupos_class}">{$link_ger_grupos_value}</td>
			<td class="{$link_ger_tipos_arquivo_class}">{$link_ger_tipos_arquivo_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>