<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel ger_grupo masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
		<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$nome_class}">{$label ger_grupo nome}</th>
			<th class="{$idGrupo_class}">{$label ger_grupo idGrupo}</th>
			<th class="{$obs_class}">{$label ger_grupo obs}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$nome_class}">{$nome_mastervalue}</td>
			<td class="{$idGrupo_class}">{$idGrupo_mastervalue}</td>
			<td class="{$obs_class}">{$obs_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>