<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><span>{$pagetitlelabel ger_cadastro masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=idCadastro]:before {
		content: "{$label ger_cadastro idCadastro}";
	}
	.bs-gridcell[data-field=nome]:before {
		content: "{$label ger_cadastro nome}";
	}
	.bs-gridcell[data-field=rg]:before {
		content: "{$label ger_cadastro rg}";
	}
	.bs-gridcell[data-field=cpf]:before {
		content: "{$label ger_cadastro cpf}";
	}
	.bs-gridcell[data-field=TelPrim]:before {
		content: "{$label ger_cadastro TelPrim}";
	}
	.bs-gridcell[data-field=CompPrim]:before {
		content: "{$label ger_cadastro CompPrim}";
	}
	.bs-gridcell[data-field=TelSec]:before {
		content: "{$label ger_cadastro TelSec}";
	}
	.bs-gridcell[data-field=CompSec]:before {
		content: "{$label ger_cadastro CompSec}";
	}
	.bs-gridcell[data-field=TelTerc]:before {
		content: "{$label ger_cadastro TelTerc}";
	}
	.bs-gridcell[data-field=CompTerc]:before {
		content: "{$label ger_cadastro CompTerc}";
	}
	.bs-gridcell[data-field=log]:before {
		content: "{$label ger_cadastro log}";
	}
	.bs-gridcell[data-field=end]:before {
		content: "{$label ger_cadastro end}";
	}
	.bs-gridcell[data-field=num]:before {
		content: "{$label ger_cadastro num}";
	}
	.bs-gridcell[data-field=comp]:before {
		content: "{$label ger_cadastro comp}";
	}
	.bs-gridcell[data-field=bairro]:before {
		content: "{$label ger_cadastro bairro}";
	}
	.bs-gridcell[data-field=cep]:before {
		content: "{$label ger_cadastro cep}";
	}
	.bs-gridcell[data-field=cidade]:before {
		content: "{$label ger_cadastro cidade}";
	}
	.bs-gridcell[data-field=uf]:before {
		content: "{$label ger_cadastro uf}";
	}
	.bs-gridcell[data-field=obs]:before {
		content: "{$label ger_cadastro obs}";
	}
	.bs-gridcell[data-field=situacao]:before {
		content: "{$label ger_cadastro situacao}";
	}
	.bs-gridcell[data-field=morador]:before {
		content: "{$label ger_cadastro morador}";
	}
	.bs-gridcell[data-field=cepnet]:before {
		content: "{$label ger_cadastro cepnet}";
	}
	.bs-gridcell[data-field=ativo]:before {
		content: "{$label ger_cadastro ativo}";
	}
	.bs-gridcell[data-field=processado]:before {
		content: "{$label ger_cadastro processado}";
	}
	.bs-gridcell[data-field=email]:before {
		content: "{$label ger_cadastro email}";
	}
	.bs-gridcell[data-field=webuser]:before {
		content: "{$label ger_cadastro webuser}";
	}
	.bs-gridcell[data-field=ultimousuario]:before {
		content: "{$label ger_cadastro ultimousuario}";
	}
	.bs-gridcell[data-field=ultimaalteracao]:before {
		content: "{$label ger_cadastro ultimaalteracao}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$nome_class}">{$label ger_cadastro nome}</th>
			<th class="{$TelPrim_class}">{$label ger_cadastro TelPrim}</th>
			<th class="{$TelSec_class}">{$label ger_cadastro TelSec}</th>
			<th class="{$morador_class}">{$label ger_cadastro morador}</th>
			<th class="{$ativo_class}">{$label ger_cadastro ativo}</th>
			<th class="{$situacao_class}">{$label ger_cadastro situacao}</th>
			<th class="{$obs_class}">{$label ger_cadastro obs}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$nome_class} bs-gridcell" data-field=nome>{$nome_mastervalue}</td>
			<td class="{$TelPrim_class} bs-gridcell" data-field=TelPrim>{$TelPrim_mastervalue}</td>
			<td class="{$TelSec_class} bs-gridcell" data-field=TelSec>{$TelSec_mastervalue}</td>
			<td class="{$morador_class} bs-gridcell" data-field=morador>{$morador_mastervalue}</td>
			<td class="{$ativo_class} bs-gridcell" data-field=ativo>{$ativo_mastervalue}</td>
			<td class="{$situacao_class} bs-gridcell" data-field=situacao>{$situacao_mastervalue}</td>
			<td class="{$obs_class} bs-gridcell" data-field=obs>{$obs_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>