<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><span>{$pagetitlelabel ger_unidades masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=idUnidade]:before {
		content: "{$label ger_unidades idUnidade}";
	}
	.bs-gridcell[data-field=grupo]:before {
		content: "{$label ger_unidades grupo}";
	}
	.bs-gridcell[data-field=unidade]:before {
		content: "{$label ger_unidades unidade}";
	}
	.bs-gridcell[data-field=grupounidade]:before {
		content: "{$label ger_unidades grupounidade}";
	}
	.bs-gridcell[data-field=link_ger_cadastro]:before {
		content: "{$label ger_unidades link_ger_cadastro}";
	}
	.bs-gridcell[data-field=dia_pref_venc]:before {
		content: "{$label ger_unidades dia_pref_venc}";
	}
	.bs-gridcell[data-field=ativo]:before {
		content: "{$label ger_unidades ativo}";
	}
	.bs-gridcell[data-field=obs]:before {
		content: "{$label ger_unidades obs}";
	}
	.bs-gridcell[data-field=frideal]:before {
		content: "{$label ger_unidades frideal}";
	}
	.bs-gridcell[data-field=ultimousuario]:before {
		content: "{$label ger_unidades ultimousuario}";
	}
	.bs-gridcell[data-field=ultimaalteracao]:before {
		content: "{$label ger_unidades ultimaalteracao}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$grupounidade_class}">{$label ger_unidades grupounidade}</th>
			<th class="{$link_ger_cadastro_class}">{$label ger_unidades link_ger_cadastro}</th>
			<th class="{$dia_pref_venc_class}">{$label ger_unidades dia_pref_venc}</th>
			<th class="{$ativo_class}">{$label ger_unidades ativo}</th>
			<th class="{$frideal_class}">{$label ger_unidades frideal}</th>
			<th class="{$obs_class}">{$label ger_unidades obs}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$grupounidade_class} bs-gridcell" data-field=grupounidade>{$grupounidade_mastervalue}</td>
			<td class="{$link_ger_cadastro_class} bs-gridcell" data-field=link_ger_cadastro>{$link_ger_cadastro_mastervalue}</td>
			<td class="{$dia_pref_venc_class} bs-gridcell" data-field=dia_pref_venc>{$dia_pref_venc_mastervalue}</td>
			<td class="{$ativo_class} bs-gridcell" data-field=ativo>{$ativo_mastervalue}</td>
			<td class="{$frideal_class} bs-gridcell" data-field=frideal>{$frideal_mastervalue}</td>
			<td class="{$obs_class} bs-gridcell" data-field=obs>{$obs_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>