<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$ativo_class}">{$label jur_processos ativo}</th>
			<th class="{$linkdebitos_class}">{$label jur_processos linkdebitos}</th>
			<th class="{$unidadeir_class}">{$label jur_processos unidadeir}</th>
			<th class="{$link_ger_unidade_class}">{$label jur_processos link_ger_unidade}</th>
			<th class="{$Unidade_class}">{$label jur_processos Unidade}</th>
			<th class="{$distrib_class}">{$label jur_processos distrib}</th>
			<th class="{$Forum_class}">{$label jur_processos Forum}</th>
			<th class="{$vara_class}">{$label jur_processos vara}</th>
			<th class="{$numgde_class}">{$label jur_processos numgde}</th>
			<th class="{$controle_class}">{$label jur_processos controle}</th>
			<th class="{$ano_class}">{$label jur_processos ano}</th>
			<th class="{$tipo_class}">{$label jur_processos tipo}</th>
			<th class="{$Titulo_class}">{$label jur_processos Titulo}</th>
			<th class="{$ReuAutor_class}">{$label jur_processos ReuAutor}</th>
			<th class="{$situacao_class}">{$label jur_processos situacao}</th>
			<th class="{$obs_class}">{$label jur_processos obs}</th>
			<th class="{$recurso_class}">{$label jur_processos recurso}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$ativo_class}">{$ativo_value}</td>
			<td class="{$linkdebitos_class}">{$linkdebitos_value}</td>
			<td class="{$unidadeir_class}">{$unidadeir_value}</td>
			<td class="{$link_ger_unidade_class}">{$link_ger_unidade_value}</td>
			<td class="{$Unidade_class}">{$Unidade_value}</td>
			<td class="{$distrib_class}">{$distrib_value}</td>
			<td class="{$Forum_class}">{$Forum_value}</td>
			<td class="{$vara_class}">{$vara_value}</td>
			<td class="{$numgde_class}">{$numgde_value}</td>
			<td class="{$controle_class}">{$controle_value}</td>
			<td class="{$ano_class}">{$ano_value}</td>
			<td class="{$tipo_class}">{$tipo_value}</td>
			<td class="{$Titulo_class}">{$Titulo_value}</td>
			<td class="{$ReuAutor_class}">{$ReuAutor_value}</td>
			<td class="{$situacao_class}">{$situacao_value}</td>
			<td class="{$obs_class}">{$obs_value}</td>
			<td class="{$recurso_class}">{$recurso_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>