{BEGIN mainmenu_block}
{BEGIN mainmenustyle_block}
<style>
/* For Gmenu on the list page */
.Gmenu ul, .Gmenu ul li{margin:0;padding:0;display:inline;}
.Gmenu ul li {float:left;width:auto;}
.Gmenu ul li a.ahr{padding:0 9px;}
.Gmenu ul li ul {display:none;position:absolute;z-index:1;}
.Gmenu ul li ul li {display:block;border-top:0px;padding: 2px 0 2px 0;white-space:nowrap;}
</style>
<!--[if IE]>
<style>.Gmenu ul li ul{left:0px;}</style>
<![endif]-->

<style>
/* for Paris */
.menutab1 {float:left;border-collapse: collapse;margin-top:1px}
.menutab1 * {padding:0;margin:0}
.menutab2 {border-style:solid;border-width:1px;border-right:none;border-bottom:none;height:25px}
.menutab3 {border-style:solid;border-width:1px;border-bottom:none; border-right:none;padding:3px;height:18px;}
.menutab3 a {white-space:nowrap}
/* for Madrid */
.menuitem {padding:6px 18px 10px 13px;margin-bottom:1px;}
.activeM {padding:6px 18px 11px 13px;}
.main_item{margin-right:2px;}
</style>
<!--[if IE]>
{BEGIN mainmenuiestyle_block}
<style>
.menutab2 {height:26px;}
.menutab3 {height:25px;}
</style>
{END mainmenuiestyle_block}
<![endif]-->
{END mainmenustyle_block}
<div  class="Gmenu">
<ul>
	{BEGIN item1_menulink}
	<li id="li1" view="topitem" >
	{BEGIN tophorizontal_item}
<table class="menutab1 Paris main_item" >
	<tr>
		<td>
			<div class="menuborder1 menutab2" ve="noedit">
				<div class="menutab3 menuborder2 {BEGIN item1_notcurrent}menu_unselected{END item1_notcurrent}{BEGIN item1_current}menuitem_active{END item1_current}">
					<span ve="edit"><a {$item1_menulink_attrs} class="menu_db{BEGIN needcurrent_item}{BEGIN item1_current}2 current{END item1_current}{END needcurrent_item}" >{$item1_title}</a></span>
				</div>
			</div>
		</td>
		<td class="menutab4"><img src="include/img/menu_blue_{BEGIN item1_notcurrent}un{END item1_notcurrent}select.gif" border=0></td>
	</tr>
</table>
{END tophorizontal_item}
{BEGIN topvertical_item}
{BEGIN needcurrent_item}
<a {$item1_menulink_attrs} class="menu_db{BEGIN item1_current}2 current{END item1_current}" >{$item1_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item1_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item1_groupimage}
	{END simplevertical_item}
	<a {$item1_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item1_itemimage}link{END item1_itemimage}' >{$item1_title}</a>
{END notneedcurrent_item}



{END topvertical_item}
			<ul id="ul1">
			{BEGIN item2_menulink}
			<li id="li2" parent="ul1" >
			{BEGIN needcurrent_item}
<a {$item2_menulink_attrs} class="menu_db{BEGIN item2_current}2 current{END item2_current}" >{$item2_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item2_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item2_groupimage}
	{END simplevertical_item}
	<a {$item2_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item2_itemimage}link{END item2_itemimage}' >{$item2_title}</a>
{END notneedcurrent_item}



			</li>
			{END item2_menulink}
					{BEGIN item3_menulink}
			<li id="li3" parent="ul1" >
			{BEGIN needcurrent_item}
<a {$item3_menulink_attrs} class="menu_db{BEGIN item3_current}2 current{END item3_current}" >{$item3_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item3_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item3_groupimage}
	{END simplevertical_item}
	<a {$item3_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item3_itemimage}link{END item3_itemimage}' >{$item3_title}</a>
{END notneedcurrent_item}



			</li>
			{END item3_menulink}
					{BEGIN item4_menulink}
			<li id="li4" parent="ul1" >
			{BEGIN needcurrent_item}
<a {$item4_menulink_attrs} class="menu_db{BEGIN item4_current}2 current{END item4_current}" >{$item4_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item4_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item4_groupimage}
	{END simplevertical_item}
	<a {$item4_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item4_itemimage}link{END item4_itemimage}' >{$item4_title}</a>
{END notneedcurrent_item}



			</li>
			{END item4_menulink}
					{BEGIN item5_menulink}
			<li id="li5" parent="ul1" >
			{BEGIN needcurrent_item}
<a {$item5_menulink_attrs} class="menu_db{BEGIN item5_current}2 current{END item5_current}" >{$item5_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item5_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item5_groupimage}
	{END simplevertical_item}
	<a {$item5_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item5_itemimage}link{END item5_itemimage}' >{$item5_title}</a>
{END notneedcurrent_item}



			</li>
			{END item5_menulink}
					{BEGIN item6_menulink}
			<li id="li6" parent="ul1" >
			{BEGIN needcurrent_item}
<a {$item6_menulink_attrs} class="menu_db{BEGIN item6_current}2 current{END item6_current}" >{$item6_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item6_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item6_groupimage}
	{END simplevertical_item}
	<a {$item6_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item6_itemimage}link{END item6_itemimage}' >{$item6_title}</a>
{END notneedcurrent_item}



			</li>
			{END item6_menulink}
			</ul>
	</li>
	{END item1_menulink}
	{BEGIN item7_menulink}
	<li id="li7" view="topitem" >
	{BEGIN tophorizontal_item}
<table class="menutab1 Paris main_item" >
	<tr>
		<td>
			<div class="menuborder1 menutab2" ve="noedit">
				<div class="menutab3 menuborder2 {BEGIN item7_notcurrent}menu_unselected{END item7_notcurrent}{BEGIN item7_current}menuitem_active{END item7_current}">
					<span ve="edit"><a {$item7_menulink_attrs} class="menu_db{BEGIN needcurrent_item}{BEGIN item7_current}2 current{END item7_current}{END needcurrent_item}" >{$item7_title}</a></span>
				</div>
			</div>
		</td>
		<td class="menutab4"><img src="include/img/menu_blue_{BEGIN item7_notcurrent}un{END item7_notcurrent}select.gif" border=0></td>
	</tr>
</table>
{END tophorizontal_item}
{BEGIN topvertical_item}
{BEGIN needcurrent_item}
<a {$item7_menulink_attrs} class="menu_db{BEGIN item7_current}2 current{END item7_current}" >{$item7_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item7_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item7_groupimage}
	{END simplevertical_item}
	<a {$item7_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item7_itemimage}link{END item7_itemimage}' >{$item7_title}</a>
{END notneedcurrent_item}



{END topvertical_item}
			<ul id="ul7">
			{BEGIN item8_menulink}
			<li id="li8" parent="ul7" >
			{BEGIN needcurrent_item}
<a {$item8_menulink_attrs} class="menu_db{BEGIN item8_current}2 current{END item8_current}" >{$item8_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item8_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item8_groupimage}
	{END simplevertical_item}
	<a {$item8_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item8_itemimage}link{END item8_itemimage}' >{$item8_title}</a>
{END notneedcurrent_item}



							<ul id="ul8" >
					{BEGIN item9_menulink}
					<li id="li9" parent="ul8" >
					{BEGIN needcurrent_item}
<a {$item9_menulink_attrs} class="menu_db{BEGIN item9_current}2 current{END item9_current}" >{$item9_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item9_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item9_groupimage}
	{END simplevertical_item}
	<a {$item9_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item9_itemimage}link{END item9_itemimage}' >{$item9_title}</a>
{END notneedcurrent_item}



					</li>
					{END item9_menulink}
											{BEGIN item10_menulink}
					<li id="li10" parent="ul8" >
					{BEGIN needcurrent_item}
<a {$item10_menulink_attrs} class="menu_db{BEGIN item10_current}2 current{END item10_current}" >{$item10_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item10_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item10_groupimage}
	{END simplevertical_item}
	<a {$item10_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item10_itemimage}link{END item10_itemimage}' >{$item10_title}</a>
{END notneedcurrent_item}



					</li>
					{END item10_menulink}
											{BEGIN item11_menulink}
					<li id="li11" parent="ul8" >
					{BEGIN needcurrent_item}
<a {$item11_menulink_attrs} class="menu_db{BEGIN item11_current}2 current{END item11_current}" >{$item11_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item11_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item11_groupimage}
	{END simplevertical_item}
	<a {$item11_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item11_itemimage}link{END item11_itemimage}' >{$item11_title}</a>
{END notneedcurrent_item}



					</li>
					{END item11_menulink}
											{BEGIN item12_menulink}
					<li id="li12" parent="ul8" >
					{BEGIN needcurrent_item}
<a {$item12_menulink_attrs} class="menu_db{BEGIN item12_current}2 current{END item12_current}" >{$item12_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item12_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item12_groupimage}
	{END simplevertical_item}
	<a {$item12_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item12_itemimage}link{END item12_itemimage}' >{$item12_title}</a>
{END notneedcurrent_item}



					</li>
					{END item12_menulink}
							</ul>
			</li>
			{END item8_menulink}
					{BEGIN item13_menulink}
			<li id="li13" parent="ul7" >
			{BEGIN needcurrent_item}
<a {$item13_menulink_attrs} class="menu_db{BEGIN item13_current}2 current{END item13_current}" >{$item13_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item13_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item13_groupimage}
	{END simplevertical_item}
	<a {$item13_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item13_itemimage}link{END item13_itemimage}' >{$item13_title}</a>
{END notneedcurrent_item}



			</li>
			{END item13_menulink}
					{BEGIN item14_menulink}
			<li id="li14" parent="ul7" >
			{BEGIN needcurrent_item}
<a {$item14_menulink_attrs} class="menu_db{BEGIN item14_current}2 current{END item14_current}" >{$item14_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item14_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item14_groupimage}
	{END simplevertical_item}
	<a {$item14_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item14_itemimage}link{END item14_itemimage}' >{$item14_title}</a>
{END notneedcurrent_item}



			</li>
			{END item14_menulink}
					{BEGIN item15_menulink}
			<li id="li15" parent="ul7" >
			{BEGIN needcurrent_item}
<a {$item15_menulink_attrs} class="menu_db{BEGIN item15_current}2 current{END item15_current}" >{$item15_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item15_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item15_groupimage}
	{END simplevertical_item}
	<a {$item15_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item15_itemimage}link{END item15_itemimage}' >{$item15_title}</a>
{END notneedcurrent_item}



			</li>
			{END item15_menulink}
					{BEGIN item16_menulink}
			<li id="li16" parent="ul7" >
			{BEGIN needcurrent_item}
<a {$item16_menulink_attrs} class="menu_db{BEGIN item16_current}2 current{END item16_current}" >{$item16_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item16_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item16_groupimage}
	{END simplevertical_item}
	<a {$item16_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item16_itemimage}link{END item16_itemimage}' >{$item16_title}</a>
{END notneedcurrent_item}



			</li>
			{END item16_menulink}
					{BEGIN item17_menulink}
			<li id="li17" parent="ul7" >
			{BEGIN needcurrent_item}
<a {$item17_menulink_attrs} class="menu_db{BEGIN item17_current}2 current{END item17_current}" >{$item17_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item17_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item17_groupimage}
	{END simplevertical_item}
	<a {$item17_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item17_itemimage}link{END item17_itemimage}' >{$item17_title}</a>
{END notneedcurrent_item}



							<ul id="ul17" >
					{BEGIN item18_menulink}
					<li id="li18" parent="ul17" >
					{BEGIN needcurrent_item}
<a {$item18_menulink_attrs} class="menu_db{BEGIN item18_current}2 current{END item18_current}" >{$item18_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item18_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item18_groupimage}
	{END simplevertical_item}
	<a {$item18_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item18_itemimage}link{END item18_itemimage}' >{$item18_title}</a>
{END notneedcurrent_item}



					</li>
					{END item18_menulink}
											{BEGIN item19_menulink}
					<li id="li19" parent="ul17" >
					{BEGIN needcurrent_item}
<a {$item19_menulink_attrs} class="menu_db{BEGIN item19_current}2 current{END item19_current}" >{$item19_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item19_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item19_groupimage}
	{END simplevertical_item}
	<a {$item19_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item19_itemimage}link{END item19_itemimage}' >{$item19_title}</a>
{END notneedcurrent_item}



					</li>
					{END item19_menulink}
							</ul>
			</li>
			{END item17_menulink}
			</ul>
	</li>
	{END item7_menulink}
	{BEGIN item20_menulink}
	<li id="li20" view="topitem" >
	{BEGIN tophorizontal_item}
<table class="menutab1 Paris main_item" >
	<tr>
		<td>
			<div class="menuborder1 menutab2" ve="noedit">
				<div class="menutab3 menuborder2 {BEGIN item20_notcurrent}menu_unselected{END item20_notcurrent}{BEGIN item20_current}menuitem_active{END item20_current}">
					<span ve="edit"><a {$item20_menulink_attrs} class="menu_db{BEGIN needcurrent_item}{BEGIN item20_current}2 current{END item20_current}{END needcurrent_item}" >{$item20_title}</a></span>
				</div>
			</div>
		</td>
		<td class="menutab4"><img src="include/img/menu_blue_{BEGIN item20_notcurrent}un{END item20_notcurrent}select.gif" border=0></td>
	</tr>
</table>
{END tophorizontal_item}
{BEGIN topvertical_item}
{BEGIN needcurrent_item}
<a {$item20_menulink_attrs} class="menu_db{BEGIN item20_current}2 current{END item20_current}" >{$item20_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item20_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item20_groupimage}
	{END simplevertical_item}
	<a {$item20_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item20_itemimage}link{END item20_itemimage}' >{$item20_title}</a>
{END notneedcurrent_item}



{END topvertical_item}
			<ul id="ul20">
			{BEGIN item21_menulink}
			<li id="li21" parent="ul20" >
			{BEGIN needcurrent_item}
<a {$item21_menulink_attrs} class="menu_db{BEGIN item21_current}2 current{END item21_current}" >{$item21_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item21_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item21_groupimage}
	{END simplevertical_item}
	<a {$item21_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item21_itemimage}link{END item21_itemimage}' >{$item21_title}</a>
{END notneedcurrent_item}



			</li>
			{END item21_menulink}
					{BEGIN item22_menulink}
			<li id="li22" parent="ul20" >
			{BEGIN needcurrent_item}
<a {$item22_menulink_attrs} class="menu_db{BEGIN item22_current}2 current{END item22_current}" >{$item22_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item22_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item22_groupimage}
	{END simplevertical_item}
	<a {$item22_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item22_itemimage}link{END item22_itemimage}' >{$item22_title}</a>
{END notneedcurrent_item}



			</li>
			{END item22_menulink}
					{BEGIN item23_menulink}
			<li id="li23" parent="ul20" >
			{BEGIN needcurrent_item}
<a {$item23_menulink_attrs} class="menu_db{BEGIN item23_current}2 current{END item23_current}" >{$item23_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item23_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item23_groupimage}
	{END simplevertical_item}
	<a {$item23_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item23_itemimage}link{END item23_itemimage}' >{$item23_title}</a>
{END notneedcurrent_item}



			</li>
			{END item23_menulink}
					{BEGIN item24_menulink}
			<li id="li24" parent="ul20" >
			{BEGIN needcurrent_item}
<a {$item24_menulink_attrs} class="menu_db{BEGIN item24_current}2 current{END item24_current}" >{$item24_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item24_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item24_groupimage}
	{END simplevertical_item}
	<a {$item24_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item24_itemimage}link{END item24_itemimage}' >{$item24_title}</a>
{END notneedcurrent_item}



			</li>
			{END item24_menulink}
			</ul>
	</li>
	{END item20_menulink}
	{BEGIN item25_menulink}
	<li id="li25" view="topitem" >
	{BEGIN tophorizontal_item}
<table class="menutab1 Paris main_item" >
	<tr>
		<td>
			<div class="menuborder1 menutab2" ve="noedit">
				<div class="menutab3 menuborder2 {BEGIN item25_notcurrent}menu_unselected{END item25_notcurrent}{BEGIN item25_current}menuitem_active{END item25_current}">
					<span ve="edit"><a {$item25_menulink_attrs} class="menu_db{BEGIN needcurrent_item}{BEGIN item25_current}2 current{END item25_current}{END needcurrent_item}" >{$item25_title}</a></span>
				</div>
			</div>
		</td>
		<td class="menutab4"><img src="include/img/menu_blue_{BEGIN item25_notcurrent}un{END item25_notcurrent}select.gif" border=0></td>
	</tr>
</table>
{END tophorizontal_item}
{BEGIN topvertical_item}
{BEGIN needcurrent_item}
<a {$item25_menulink_attrs} class="menu_db{BEGIN item25_current}2 current{END item25_current}" >{$item25_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item25_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item25_groupimage}
	{END simplevertical_item}
	<a {$item25_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item25_itemimage}link{END item25_itemimage}' >{$item25_title}</a>
{END notneedcurrent_item}



{END topvertical_item}
			<ul id="ul25">
			{BEGIN item26_menulink}
			<li id="li26" parent="ul25" >
			{BEGIN needcurrent_item}
<a {$item26_menulink_attrs} class="menu_db{BEGIN item26_current}2 current{END item26_current}" >{$item26_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item26_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item26_groupimage}
	{END simplevertical_item}
	<a {$item26_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item26_itemimage}link{END item26_itemimage}' >{$item26_title}</a>
{END notneedcurrent_item}



			</li>
			{END item26_menulink}
					{BEGIN item27_menulink}
			<li id="li27" parent="ul25" >
			{BEGIN needcurrent_item}
<a {$item27_menulink_attrs} class="menu_db{BEGIN item27_current}2 current{END item27_current}" >{$item27_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item27_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item27_groupimage}
	{END simplevertical_item}
	<a {$item27_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item27_itemimage}link{END item27_itemimage}' >{$item27_title}</a>
{END notneedcurrent_item}



			</li>
			{END item27_menulink}
					{BEGIN item28_menulink}
			<li id="li28" parent="ul25" >
			{BEGIN needcurrent_item}
<a {$item28_menulink_attrs} class="menu_db{BEGIN item28_current}2 current{END item28_current}" >{$item28_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item28_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item28_groupimage}
	{END simplevertical_item}
	<a {$item28_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item28_itemimage}link{END item28_itemimage}' >{$item28_title}</a>
{END notneedcurrent_item}



			</li>
			{END item28_menulink}
					{BEGIN item29_menulink}
			<li id="li29" parent="ul25" >
			{BEGIN needcurrent_item}
<a {$item29_menulink_attrs} class="menu_db{BEGIN item29_current}2 current{END item29_current}" >{$item29_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item29_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item29_groupimage}
	{END simplevertical_item}
	<a {$item29_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item29_itemimage}link{END item29_itemimage}' >{$item29_title}</a>
{END notneedcurrent_item}



			</li>
			{END item29_menulink}
					{BEGIN item30_menulink}
			<li id="li30" parent="ul25" >
			{BEGIN needcurrent_item}
<a {$item30_menulink_attrs} class="menu_db{BEGIN item30_current}2 current{END item30_current}" >{$item30_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item30_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item30_groupimage}
	{END simplevertical_item}
	<a {$item30_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item30_itemimage}link{END item30_itemimage}' >{$item30_title}</a>
{END notneedcurrent_item}



			</li>
			{END item30_menulink}
			</ul>
	</li>
	{END item25_menulink}
	{BEGIN item31_menulink}
	<li id="li31" view="topitem" >
	{BEGIN tophorizontal_item}
<table class="menutab1 Paris main_item" >
	<tr>
		<td>
			<div class="menuborder1 menutab2" ve="noedit">
				<div class="menutab3 menuborder2 {BEGIN item31_notcurrent}menu_unselected{END item31_notcurrent}{BEGIN item31_current}menuitem_active{END item31_current}">
					<span ve="edit"><a {$item31_menulink_attrs} class="menu_db{BEGIN needcurrent_item}{BEGIN item31_current}2 current{END item31_current}{END needcurrent_item}" >{$item31_title}</a></span>
				</div>
			</div>
		</td>
		<td class="menutab4"><img src="include/img/menu_blue_{BEGIN item31_notcurrent}un{END item31_notcurrent}select.gif" border=0></td>
	</tr>
</table>
{END tophorizontal_item}
{BEGIN topvertical_item}
{BEGIN needcurrent_item}
<a {$item31_menulink_attrs} class="menu_db{BEGIN item31_current}2 current{END item31_current}" >{$item31_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item31_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item31_groupimage}
	{END simplevertical_item}
	<a {$item31_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item31_itemimage}link{END item31_itemimage}' >{$item31_title}</a>
{END notneedcurrent_item}



{END topvertical_item}
			<ul id="ul31">
			{BEGIN item32_menulink}
			<li id="li32" parent="ul31" >
			{BEGIN needcurrent_item}
<a {$item32_menulink_attrs} class="menu_db{BEGIN item32_current}2 current{END item32_current}" >{$item32_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item32_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item32_groupimage}
	{END simplevertical_item}
	<a {$item32_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item32_itemimage}link{END item32_itemimage}' >{$item32_title}</a>
{END notneedcurrent_item}



			</li>
			{END item32_menulink}
					{BEGIN item33_menulink}
			<li id="li33" parent="ul31" >
			{BEGIN needcurrent_item}
<a {$item33_menulink_attrs} class="menu_db{BEGIN item33_current}2 current{END item33_current}" >{$item33_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item33_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item33_groupimage}
	{END simplevertical_item}
	<a {$item33_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item33_itemimage}link{END item33_itemimage}' >{$item33_title}</a>
{END notneedcurrent_item}



			</li>
			{END item33_menulink}
			</ul>
	</li>
	{END item31_menulink}
	{BEGIN item34_menulink}
	<li id="li34" view="topitem" >
	{BEGIN tophorizontal_item}
<table class="menutab1 Paris main_item" >
	<tr>
		<td>
			<div class="menuborder1 menutab2" ve="noedit">
				<div class="menutab3 menuborder2 {BEGIN item34_notcurrent}menu_unselected{END item34_notcurrent}{BEGIN item34_current}menuitem_active{END item34_current}">
					<span ve="edit"><a {$item34_menulink_attrs} class="menu_db{BEGIN needcurrent_item}{BEGIN item34_current}2 current{END item34_current}{END needcurrent_item}" >{$item34_title}</a></span>
				</div>
			</div>
		</td>
		<td class="menutab4"><img src="include/img/menu_blue_{BEGIN item34_notcurrent}un{END item34_notcurrent}select.gif" border=0></td>
	</tr>
</table>
{END tophorizontal_item}
{BEGIN topvertical_item}
{BEGIN needcurrent_item}
<a {$item34_menulink_attrs} class="menu_db{BEGIN item34_current}2 current{END item34_current}" >{$item34_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item34_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item34_groupimage}
	{END simplevertical_item}
	<a {$item34_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item34_itemimage}link{END item34_itemimage}' >{$item34_title}</a>
{END notneedcurrent_item}



{END topvertical_item}
			<ul id="ul34">
			{BEGIN item35_menulink}
			<li id="li35" parent="ul34" >
			{BEGIN needcurrent_item}
<a {$item35_menulink_attrs} class="menu_db{BEGIN item35_current}2 current{END item35_current}" >{$item35_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item35_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item35_groupimage}
	{END simplevertical_item}
	<a {$item35_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item35_itemimage}link{END item35_itemimage}' >{$item35_title}</a>
{END notneedcurrent_item}



			</li>
			{END item35_menulink}
			</ul>
	</li>
	{END item34_menulink}
	{BEGIN item36_menulink}
	<li id="li36" view="topitem" >
	{BEGIN tophorizontal_item}
<table class="menutab1 Paris main_item" >
	<tr>
		<td>
			<div class="menuborder1 menutab2" ve="noedit">
				<div class="menutab3 menuborder2 {BEGIN item36_notcurrent}menu_unselected{END item36_notcurrent}{BEGIN item36_current}menuitem_active{END item36_current}">
					<span ve="edit"><a {$item36_menulink_attrs} class="menu_db{BEGIN needcurrent_item}{BEGIN item36_current}2 current{END item36_current}{END needcurrent_item}" >{$item36_title}</a></span>
				</div>
			</div>
		</td>
		<td class="menutab4"><img src="include/img/menu_blue_{BEGIN item36_notcurrent}un{END item36_notcurrent}select.gif" border=0></td>
	</tr>
</table>
{END tophorizontal_item}
{BEGIN topvertical_item}
{BEGIN needcurrent_item}
<a {$item36_menulink_attrs} class="menu_db{BEGIN item36_current}2 current{END item36_current}" >{$item36_title}</a>
{END needcurrent_item}
{BEGIN notneedcurrent_item}
	{BEGIN simplevertical_item}
	{BEGIN item36_groupimage}<span><img src="include/img/plus.gif" class="pmimg" border=0></span>{END item36_groupimage}
	{END simplevertical_item}
	<a {$item36_menulink_attrs} class='{BEGIN vertical_typemenu}tablelinks{END vertical_typemenu}{BEGIN horizontal_typemenu}menu_db{END horizontal_typemenu} {BEGIN item36_itemimage}link{END item36_itemimage}' >{$item36_title}</a>
{END notneedcurrent_item}



{END topvertical_item}
	</li>
	{END item36_menulink}
</ul>
</div>
{END mainmenu_block}
