{BEGIN mainmenu_block}
	<ul class="rnr-b-vmenu simple {$menustyle}">
	{BEGIN item1_menulink}
	<li class="{$item1_current} menuGroup">
		<div>
<div>
<a {$item1_menulink_attrs}>{$item1_title}</a>
</div>
</div>



			<ul >
			{BEGIN item2_menulink}
			<li  parent="group1" class="{$item2_current} menuLeaf">
			<div>
<div>
<a {$item2_menulink_attrs}>{$item2_title}</a>
</div>
</div>



			</li>
			{END item2_menulink}
					{BEGIN item3_menulink}
			<li  parent="group1" class="{$item3_current} menuLeaf">
			<div>
<div>
<a {$item3_menulink_attrs}>{$item3_title}</a>
</div>
</div>



			</li>
			{END item3_menulink}
					{BEGIN item4_menulink}
			<li  parent="group1" class="{$item4_current} menuLeaf">
			<div>
<div>
<a {$item4_menulink_attrs}>{$item4_title}</a>
</div>
</div>



			</li>
			{END item4_menulink}
					{BEGIN item5_menulink}
			<li  parent="group1" class="{$item5_current} menuLeaf">
			<div>
<div>
<a {$item5_menulink_attrs}>{$item5_title}</a>
</div>
</div>



			</li>
			{END item5_menulink}
					{BEGIN item6_menulink}
			<li  parent="group1" class="{$item6_current} menuLeaf">
			<div>
<div>
<a {$item6_menulink_attrs}>{$item6_title}</a>
</div>
</div>



			</li>
			{END item6_menulink}
			</ul>
	</li>
	{END item1_menulink}
	{BEGIN item7_menulink}
	<li class="{$item7_current} menuGroup">
		<div>
<div>
<a {$item7_menulink_attrs}>{$item7_title}</a>
</div>
</div>



			<ul >
			{BEGIN item8_menulink}
			<li  parent="group7" class="{$item8_current} menuGroup">
			<div>
<div>
<a {$item8_menulink_attrs}>{$item8_title}</a>
</div>
</div>



							<ul >
					{BEGIN item9_menulink}
					<li  parent="group8" class="{$item9_current} menuLeaf">
					<div>
<div>
<a {$item9_menulink_attrs}>{$item9_title}</a>
</div>
</div>



					</li>
					{END item9_menulink}
											{BEGIN item10_menulink}
					<li  parent="group8" class="{$item10_current} menuLeaf">
					<div>
<div>
<a {$item10_menulink_attrs}>{$item10_title}</a>
</div>
</div>



					</li>
					{END item10_menulink}
											{BEGIN item11_menulink}
					<li  parent="group8" class="{$item11_current} menuLeaf">
					<div>
<div>
<a {$item11_menulink_attrs}>{$item11_title}</a>
</div>
</div>



					</li>
					{END item11_menulink}
											{BEGIN item12_menulink}
					<li  parent="group8" class="{$item12_current} menuLeaf">
					<div>
<div>
<a {$item12_menulink_attrs}>{$item12_title}</a>
</div>
</div>



					</li>
					{END item12_menulink}
							</ul>
			</li>
			{END item8_menulink}
					{BEGIN item13_menulink}
			<li  parent="group7" class="{$item13_current} menuLeaf">
			<div>
<div>
<a {$item13_menulink_attrs}>{$item13_title}</a>
</div>
</div>



			</li>
			{END item13_menulink}
					{BEGIN item14_menulink}
			<li  parent="group7" class="{$item14_current} menuLeaf">
			<div>
<div>
<a {$item14_menulink_attrs}>{$item14_title}</a>
</div>
</div>



			</li>
			{END item14_menulink}
					{BEGIN item15_menulink}
			<li  parent="group7" class="{$item15_current} menuLeaf">
			<div>
<div>
<a {$item15_menulink_attrs}>{$item15_title}</a>
</div>
</div>



			</li>
			{END item15_menulink}
					{BEGIN item16_menulink}
			<li  parent="group7" class="{$item16_current} menuLeaf">
			<div>
<div>
<a {$item16_menulink_attrs}>{$item16_title}</a>
</div>
</div>



			</li>
			{END item16_menulink}
					{BEGIN item17_menulink}
			<li  parent="group7" class="{$item17_current} menuGroup">
			<div>
<div>
<a {$item17_menulink_attrs}>{$item17_title}</a>
</div>
</div>



							<ul >
					{BEGIN item18_menulink}
					<li  parent="group17" class="{$item18_current} menuLeaf">
					<div>
<div>
<a {$item18_menulink_attrs}>{$item18_title}</a>
</div>
</div>



					</li>
					{END item18_menulink}
											{BEGIN item19_menulink}
					<li  parent="group17" class="{$item19_current} menuLeaf">
					<div>
<div>
<a {$item19_menulink_attrs}>{$item19_title}</a>
</div>
</div>



					</li>
					{END item19_menulink}
											{BEGIN item20_menulink}
					<li  parent="group17" class="{$item20_current} menuLeaf">
					<div>
<div>
<a {$item20_menulink_attrs}>{$item20_title}</a>
</div>
</div>



					</li>
					{END item20_menulink}
							</ul>
			</li>
			{END item17_menulink}
			</ul>
	</li>
	{END item7_menulink}
	{BEGIN item21_menulink}
	<li class="{$item21_current} menuGroup">
		<div>
<div>
<a {$item21_menulink_attrs}>{$item21_title}</a>
</div>
</div>



			<ul >
			{BEGIN item22_menulink}
			<li  parent="group21" class="{$item22_current} menuLeaf">
			<div>
<div>
<a {$item22_menulink_attrs}>{$item22_title}</a>
</div>
</div>



			</li>
			{END item22_menulink}
					{BEGIN item23_menulink}
			<li  parent="group21" class="{$item23_current} menuLeaf">
			<div>
<div>
<a {$item23_menulink_attrs}>{$item23_title}</a>
</div>
</div>



			</li>
			{END item23_menulink}
					{BEGIN item24_menulink}
			<li  parent="group21" class="{$item24_current} menuLeaf">
			<div>
<div>
<a {$item24_menulink_attrs}>{$item24_title}</a>
</div>
</div>



			</li>
			{END item24_menulink}
					{BEGIN item25_menulink}
			<li  parent="group21" class="{$item25_current} menuLeaf">
			<div>
<div>
<a {$item25_menulink_attrs}>{$item25_title}</a>
</div>
</div>



			</li>
			{END item25_menulink}
			</ul>
	</li>
	{END item21_menulink}
	{BEGIN item26_menulink}
	<li class="{$item26_current} menuGroup">
		<div>
<div>
<a {$item26_menulink_attrs}>{$item26_title}</a>
</div>
</div>



			<ul >
			{BEGIN item27_menulink}
			<li  parent="group26" class="{$item27_current} menuLeaf">
			<div>
<div>
<a {$item27_menulink_attrs}>{$item27_title}</a>
</div>
</div>



			</li>
			{END item27_menulink}
					{BEGIN item28_menulink}
			<li  parent="group26" class="{$item28_current} menuLeaf">
			<div>
<div>
<a {$item28_menulink_attrs}>{$item28_title}</a>
</div>
</div>



			</li>
			{END item28_menulink}
					{BEGIN item29_menulink}
			<li  parent="group26" class="{$item29_current} menuLeaf">
			<div>
<div>
<a {$item29_menulink_attrs}>{$item29_title}</a>
</div>
</div>



			</li>
			{END item29_menulink}
					{BEGIN item30_menulink}
			<li  parent="group26" class="{$item30_current} menuLeaf">
			<div>
<div>
<a {$item30_menulink_attrs}>{$item30_title}</a>
</div>
</div>



			</li>
			{END item30_menulink}
					{BEGIN item31_menulink}
			<li  parent="group26" class="{$item31_current} menuLeaf">
			<div>
<div>
<a {$item31_menulink_attrs}>{$item31_title}</a>
</div>
</div>



			</li>
			{END item31_menulink}
			</ul>
	</li>
	{END item26_menulink}
	{BEGIN item32_menulink}
	<li class="{$item32_current} menuGroup">
		<div>
<div>
<a {$item32_menulink_attrs}>{$item32_title}</a>
</div>
</div>



			<ul >
			{BEGIN item33_menulink}
			<li  parent="group32" class="{$item33_current} menuLeaf">
			<div>
<div>
<a {$item33_menulink_attrs}>{$item33_title}</a>
</div>
</div>



			</li>
			{END item33_menulink}
					{BEGIN item34_menulink}
			<li  parent="group32" class="{$item34_current} menuLeaf">
			<div>
<div>
<a {$item34_menulink_attrs}>{$item34_title}</a>
</div>
</div>



			</li>
			{END item34_menulink}
			</ul>
	</li>
	{END item32_menulink}
	{BEGIN item35_menulink}
	<li class="{$item35_current} menuGroup">
		<div>
<div>
<a {$item35_menulink_attrs}>{$item35_title}</a>
</div>
</div>



			<ul >
			{BEGIN item36_menulink}
			<li  parent="group35" class="{$item36_current} menuLeaf">
			<div>
<div>
<a {$item36_menulink_attrs}>{$item36_title}</a>
</div>
</div>



			</li>
			{END item36_menulink}
			</ul>
	</li>
	{END item35_menulink}
	{BEGIN item37_menulink}
	<li class="{$item37_current} menuLeaf">
		<div>
<div>
<a {$item37_menulink_attrs}>{$item37_title}</a>
</div>
</div>



	</li>
	{END item37_menulink}
</ul>
{END mainmenu_block}


