	{BEGIN item1_menulink}
	<option {$item1_optionattrs} {BEGIN item1_current}selected{END item1_current}>
		{$item1_nbsps}{$item1_title}
	</option>
	{END item1_menulink}
	{BEGIN item2_menulink}
	<option {$item2_optionattrs} {BEGIN item2_current}selected{END item2_current}>
		{$item2_nbsps}{$item2_title}
	</option>
	{END item2_menulink}
	{BEGIN item3_menulink}
	<option {$item3_optionattrs} {BEGIN item3_current}selected{END item3_current}>
		{$item3_nbsps}{$item3_title}
	</option>
	{END item3_menulink}
	{BEGIN item4_menulink}
	<option {$item4_optionattrs} {BEGIN item4_current}selected{END item4_current}>
		{$item4_nbsps}{$item4_title}
	</option>
	{END item4_menulink}
	{BEGIN item5_menulink}
	<option {$item5_optionattrs} {BEGIN item5_current}selected{END item5_current}>
		{$item5_nbsps}{$item5_title}
	</option>
	{END item5_menulink}
	{BEGIN item6_menulink}
	<option {$item6_optionattrs} {BEGIN item6_current}selected{END item6_current}>
		{$item6_nbsps}{$item6_title}
	</option>
	{END item6_menulink}
	{BEGIN item7_menulink}
	<option {$item7_optionattrs} {BEGIN item7_current}selected{END item7_current}>
		{$item7_nbsps}{$item7_title}
	</option>
	{END item7_menulink}
	{BEGIN item8_menulink}
	<option {$item8_optionattrs} {BEGIN item8_current}selected{END item8_current}>
		{$item8_nbsps}{$item8_title}
	</option>
	{END item8_menulink}
	{BEGIN item9_menulink}
	<option {$item9_optionattrs} {BEGIN item9_current}selected{END item9_current}>
		{$item9_nbsps}{$item9_title}
	</option>
	{END item9_menulink}
	{BEGIN item10_menulink}
	<option {$item10_optionattrs} {BEGIN item10_current}selected{END item10_current}>
		{$item10_nbsps}{$item10_title}
	</option>
	{END item10_menulink}
	{BEGIN item11_menulink}
	<option {$item11_optionattrs} {BEGIN item11_current}selected{END item11_current}>
		{$item11_nbsps}{$item11_title}
	</option>
	{END item11_menulink}
	{BEGIN item12_menulink}
	<option {$item12_optionattrs} {BEGIN item12_current}selected{END item12_current}>
		{$item12_nbsps}{$item12_title}
	</option>
	{END item12_menulink}
	{BEGIN item13_menulink}
	<option {$item13_optionattrs} {BEGIN item13_current}selected{END item13_current}>
		{$item13_nbsps}{$item13_title}
	</option>
	{END item13_menulink}
	{BEGIN item14_menulink}
	<option {$item14_optionattrs} {BEGIN item14_current}selected{END item14_current}>
		{$item14_nbsps}{$item14_title}
	</option>
	{END item14_menulink}
	{BEGIN item15_menulink}
	<option {$item15_optionattrs} {BEGIN item15_current}selected{END item15_current}>
		{$item15_nbsps}{$item15_title}
	</option>
	{END item15_menulink}
	{BEGIN item16_menulink}
	<option {$item16_optionattrs} {BEGIN item16_current}selected{END item16_current}>
		{$item16_nbsps}{$item16_title}
	</option>
	{END item16_menulink}
	{BEGIN item17_menulink}
	<option {$item17_optionattrs} {BEGIN item17_current}selected{END item17_current}>
		{$item17_nbsps}{$item17_title}
	</option>
	{END item17_menulink}
	{BEGIN item18_menulink}
	<option {$item18_optionattrs} {BEGIN item18_current}selected{END item18_current}>
		{$item18_nbsps}{$item18_title}
	</option>
	{END item18_menulink}
	{BEGIN item19_menulink}
	<option {$item19_optionattrs} {BEGIN item19_current}selected{END item19_current}>
		{$item19_nbsps}{$item19_title}
	</option>
	{END item19_menulink}
	{BEGIN item20_menulink}
	<option {$item20_optionattrs} {BEGIN item20_current}selected{END item20_current}>
		{$item20_nbsps}{$item20_title}
	</option>
	{END item20_menulink}
	{BEGIN item21_menulink}
	<option {$item21_optionattrs} {BEGIN item21_current}selected{END item21_current}>
		{$item21_nbsps}{$item21_title}
	</option>
	{END item21_menulink}
	{BEGIN item22_menulink}
	<option {$item22_optionattrs} {BEGIN item22_current}selected{END item22_current}>
		{$item22_nbsps}{$item22_title}
	</option>
	{END item22_menulink}
	{BEGIN item23_menulink}
	<option {$item23_optionattrs} {BEGIN item23_current}selected{END item23_current}>
		{$item23_nbsps}{$item23_title}
	</option>
	{END item23_menulink}
	{BEGIN item24_menulink}
	<option {$item24_optionattrs} {BEGIN item24_current}selected{END item24_current}>
		{$item24_nbsps}{$item24_title}
	</option>
	{END item24_menulink}
	{BEGIN item25_menulink}
	<option {$item25_optionattrs} {BEGIN item25_current}selected{END item25_current}>
		{$item25_nbsps}{$item25_title}
	</option>
	{END item25_menulink}
	{BEGIN item26_menulink}
	<option {$item26_optionattrs} {BEGIN item26_current}selected{END item26_current}>
		{$item26_nbsps}{$item26_title}
	</option>
	{END item26_menulink}
	{BEGIN item27_menulink}
	<option {$item27_optionattrs} {BEGIN item27_current}selected{END item27_current}>
		{$item27_nbsps}{$item27_title}
	</option>
	{END item27_menulink}
	{BEGIN item28_menulink}
	<option {$item28_optionattrs} {BEGIN item28_current}selected{END item28_current}>
		{$item28_nbsps}{$item28_title}
	</option>
	{END item28_menulink}
	{BEGIN item29_menulink}
	<option {$item29_optionattrs} {BEGIN item29_current}selected{END item29_current}>
		{$item29_nbsps}{$item29_title}
	</option>
	{END item29_menulink}
	{BEGIN item30_menulink}
	<option {$item30_optionattrs} {BEGIN item30_current}selected{END item30_current}>
		{$item30_nbsps}{$item30_title}
	</option>
	{END item30_menulink}
	{BEGIN item31_menulink}
	<option {$item31_optionattrs} {BEGIN item31_current}selected{END item31_current}>
		{$item31_nbsps}{$item31_title}
	</option>
	{END item31_menulink}
	{BEGIN item32_menulink}
	<option {$item32_optionattrs} {BEGIN item32_current}selected{END item32_current}>
		{$item32_nbsps}{$item32_title}
	</option>
	{END item32_menulink}
	{BEGIN item33_menulink}
	<option {$item33_optionattrs} {BEGIN item33_current}selected{END item33_current}>
		{$item33_nbsps}{$item33_title}
	</option>
	{END item33_menulink}
	{BEGIN item34_menulink}
	<option {$item34_optionattrs} {BEGIN item34_current}selected{END item34_current}>
		{$item34_nbsps}{$item34_title}
	</option>
	{END item34_menulink}
	{BEGIN item35_menulink}
	<option {$item35_optionattrs} {BEGIN item35_current}selected{END item35_current}>
		{$item35_nbsps}{$item35_title}
	</option>
	{END item35_menulink}
	{BEGIN item36_menulink}
	<option {$item36_optionattrs} {BEGIN item36_current}selected{END item36_current}>
		{$item36_nbsps}{$item36_title}
	</option>
	{END item36_menulink}
	{BEGIN item37_menulink}
	<option {$item37_optionattrs} {BEGIN item37_current}selected{END item37_current}>
		{$item37_nbsps}{$item37_title}
	</option>
	{END item37_menulink}
