<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel SaldosBlocos masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
		<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$grupo_class}">{$label SaldosBlocos grupo}</th>
			<th class="{$primvalor_class}">{$label SaldosBlocos primvalor}</th>
			<th class="{$ultvalor_class}">{$label SaldosBlocos ultvalor}</th>
			<th class="{$mediadegasto_class}">{$label SaldosBlocos mediadegasto}</th>
			<th class="{$saldo_class}">{$label SaldosBlocos saldo}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$grupo_class}">{$grupo_mastervalue}</td>
			<td class="{$primvalor_class}">{$primvalor_mastervalue}</td>
			<td class="{$ultvalor_class}">{$ultvalor_mastervalue}</td>
			<td class="{$mediadegasto_class}">{$mediadegasto_mastervalue}</td>
			<td class="{$saldo_class}">{$saldo_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>