<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><span>{$pagetitlelabel SaldosBlocos masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=saldo]:before {
		content: "{$label SaldosBlocos saldo}";
	}
	.bs-gridcell[data-field=primvalor]:before {
		content: "{$label SaldosBlocos primvalor}";
	}
	.bs-gridcell[data-field=ultvalor]:before {
		content: "{$label SaldosBlocos ultvalor}";
	}
	.bs-gridcell[data-field=mediadegasto]:before {
		content: "{$label SaldosBlocos mediadegasto}";
	}
	.bs-gridcell[data-field=grupo]:before {
		content: "{$label SaldosBlocos grupo}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$grupo_class}">{$label SaldosBlocos grupo}</th>
			<th class="{$primvalor_class}">{$label SaldosBlocos primvalor}</th>
			<th class="{$ultvalor_class}">{$label SaldosBlocos ultvalor}</th>
			<th class="{$mediadegasto_class}">{$label SaldosBlocos mediadegasto}</th>
			<th class="{$saldo_class}">{$label SaldosBlocos saldo}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$grupo_class} bs-gridcell" data-field=grupo>{$grupo_mastervalue}</td>
			<td class="{$primvalor_class} bs-gridcell" data-field=primvalor>{$primvalor_mastervalue}</td>
			<td class="{$ultvalor_class} bs-gridcell" data-field=ultvalor>{$ultvalor_mastervalue}</td>
			<td class="{$mediadegasto_class} bs-gridcell" data-field=mediadegasto>{$mediadegasto_mastervalue}</td>
			<td class="{$saldo_class} bs-gridcell" data-field=saldo>{$saldo_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>