<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$grupo_class}">{$label SaldosBlocos grupo}</th>
			<th class="{$primvalor_class}">{$label SaldosBlocos primvalor}</th>
			<th class="{$ultvalor_class}">{$label SaldosBlocos ultvalor}</th>
			<th class="{$mediadegasto_class}">{$label SaldosBlocos mediadegasto}</th>
			<th class="{$saldo_class}">{$label SaldosBlocos saldo}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$grupo_class}">{$grupo_value}</td>
			<td class="{$primvalor_class}">{$primvalor_value}</td>
			<td class="{$ultvalor_class}">{$ultvalor_value}</td>
			<td class="{$mediadegasto_class}">{$mediadegasto_value}</td>
			<td class="{$saldo_class}">{$saldo_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>