.runner-c-hmenu ul
{
	left:0px;
}

.runner-btnright
{
  clip: rect(auto auto auto 492px);
}

.ymp-skin {
	top: -0.22em !important;
}

.yui-skin-sam .yui-panel .bd {
	position: relative;
}

.runner-left *, 
.runner-right *, 
.runner-hmenu *
{
  white-space: nowrap;  
}